[2022-06-30 14:05] Dun-sin opened #9 "[DOCS] Improve the README"
### Description

- Add the screenshot of live/hosted project
- Add the tech stack logo

### Screenshots

_No response_

[2022-06-30 14:43] Dun-sin opened #10 "[BUG] Login not working"
### Description

Login isn't working because of the `sawo` library which is used for passwordless authentication is having some server issues

change the login method, using another library for passwordless or implementing it yourself

### Screenshots

![image](https://user-images.githubusercontent.com/78784850/176915762-6f71e4de-3e43-4c66-a710-6c33c9454ea4.png)

_No response_

[2022-06-30 14:47] Dun-sin opened #11 "[FEATURE] Gitpodify Project"
### Description

- Add the gitpod button in the `README`
- Add `gitpod.yml` file

### Screenshots

_No response_

[2022-07-01 07:50] Dun-sin opened #14 "[BUG] Make the `Login Anonymously` button work"
### Description

The button has no functionality yet, make the button authenitcate the user but not store anything in the mongodb database

### Screenshots

![image](https://user-images.githubusercontent.com/78784850/176849749-f71c5647-7c7b-4cc8-88d5-127374165add.png)

[2022-07-01 10:53] dhrumishah commented on #9
Can I do this?

[2022-07-01 11:17] kelvinparmar commented on #9
I want to contribute on this issue.
Should I contribute in this issue?

[2022-07-01 14:32] Dun-sin commented on #9
@dhrumishah and @kelvinparmar yes you can both work on it, don't forget to add your names to `contributing.md` with your twitter handle

[2022-07-01 14:51] Dun-sin opened #15 "[FEATURE] Write better code"
If you find a bad code, write a cleaner and better code

[2022-07-01 18:04] kelvinparmar commented on #9
How to run this app? please give me instruction for that

[2022-07-02 06:11] heshangambhir commented on #9
Can I Contribute to the readme

[2022-07-02 06:21] Dun-sin commented on #9
Go ahead

[2022-07-02 11:04] Dharmik48 commented on #14
Why do need a Login button in an app to chat _anonymously_?

[2022-07-02 11:42] Dun-sin commented on #14
so the user can use the website anywhere else.

[2022-07-02 12:34] Dharmik48 commented on #14
If we don't store anything about the user in the DB then how will we even authenticate the user, as there is no data to verify the credentials?

[2022-07-02 12:41] Dun-sin commented on #14
There are two issues #14 #10

#14 for anonymous button: for users who don't want anything about them stored-(this current issue you are chatting at)

#10 for users who want to be able to keep their previous chats in mongodb

[2022-07-02 12:55] Dharmik48 commented on #14
Oh! Got it 👍🏻 Didn't know about #10😅

[2022-07-02 15:54] Dharmik48 commented on #9
Let me make a few improvements too

[2022-07-02 16:01] kelvinparmar commented on #9
All the issue are not done?

[2022-07-02 16:15] Dharmik48 commented on #11
Let me try to solve this issue. I am not a Gitpod master, but I'll make it work.

[2022-07-02 16:54] Dun-sin commented on #9
let's see what you can improve

[2022-07-02 16:58] Dun-sin commented on #11
alright go for it

[2022-07-02 17:04] Dun-sin commented on #9
you can check the others

[2022-07-03 13:42] Dun-sin opened #20 "[DOCS] Write comments"
### Description

Try to understand what the code does and write a comment on how it works using JSDoc syntax

### Screenshots

_No response_

[2022-07-03 17:07] dhrumishah commented on #20
Do we have to write comments in your code or readme file?

[2022-07-03 18:18] Dun-sin commented on #20
The code, I don't think the readme needs that

[2022-07-04 17:28] #11 closed

[2022-07-04 21:30] code-with-onye commented on #10
Hello Dunsin, i think the issue should be from the api, verify if it correspond correctly.
https://docs.sawolabs.com/sawo/faqs

[2022-07-05 02:42] Dun-sin commented on #10
The service is actually non-functional at the moment, you can't even login to their website if you try

[2022-07-05 06:15] code-with-onye commented on #10
Oh, you're right. How about utilizing Firebase instead?

[2022-07-05 06:20] Dun-sin commented on #10
So I thought of that but I saw no use of using a huge database service just to authenticate users when I won't even store the information in firebase.

The baseline point of firebase is to store something, authentication is just a side feature.

[2022-07-05 07:51] code-with-onye commented on #10
Not actually, Firebase is a tool set that provides you with everything you need to easily build a backend application. You can choose to use just the authentication option and ignore the rest providers, just like a toolbox where you have all kinds of tools to get a job done, but you have to choose the right tool in the tool box to get a specific job done.

[2022-07-05 08:02] Dun-sin commented on #10
yep i also know that, but i honestly don't want to use a whole big service, just so i can check if a user uses a valid email, to me it makes no sense.
I would use Auth0 instead

[2022-07-05 08:17] code-with-onye commented on #10
good taste, comrade

[2022-07-05 08:32] code-with-onye commented on #10
I've used Auth0 for login authentication, but I don't believe Auth0 supports anonymous login.

[2022-07-05 08:37] Dun-sin commented on #10
no, anonymous login isn't the point here, passwordless login is what im trying to use, which is why sawolabs was my best option because it does just that and nothing more really

[2022-07-05 08:44] code-with-onye commented on #10
Ooh, passwordless, it does support that, but it is no longer an anonymous chat application. you know that, right?

[2022-07-05 08:54] Dun-sin commented on #10
it is, read the conversation in this issue #14

[2022-07-05 09:25] code-with-onye commented on #10
Ooh I see

[2022-07-10 17:28] Sreekar-Shodhan opened #23 "[BUG] Misplacement of semicolon in the sign-in page"
### Description

When I opened the website from readme, First the sign in page has appeared. After scrolling down, there is a white space and semi-colon at the bottom left of the page.

I would like to work on this issue. Can you please assign this issue to me.

### Screenshots

![image](https://user-images.githubusercontent.com/71596539/178155481-2d79e85f-2b67-475f-a4a1-137f4042ee98.png)

[2022-07-10 17:34] Sreekar-Shodhan opened #24 "[DOCS] <Spelling mistake>"
### Description

I think there is a spelling mistake in the bottom of README. Its cheers and not beers ig.
And also full-stop at the end of the sentence.

### Screenshots

![image](https://user-images.githubusercontent.com/71596539/178155667-825898c3-5905-4a29-b85b-614af764fd27.png)

[2022-07-10 18:11] Dun-sin commented on #23
Oh yeah I saw that, but was too lazy to fix to lol. Thanks for volunteering. Go ahead

[2022-07-10 18:12] Dun-sin commented on #24
No need to do this hehe

[2022-07-10 18:12] #24 closed

[2022-07-11 08:06] Sreekar-Shodhan commented on #23
Hey Iam not that familira with react, backend code. Can I please know how to open your code in browser to see the output. Like normally in VS code I click the open in browser but its not showing in any file.

And also is there any index.html? I cant find where did that extra semi colon came from.

[2022-07-12 03:31] Darshan174 opened #27 "[DOCS] Better instructions for making changes in the code."
### Description

As a beginner, it was quit easy and understandable for me to follow till step 6. Later from step 7, I'd no clue to make changes in the source code and on how to stage those changes. I'm sharing my perspective so that even beginners with potential can contribute and grow this project. I'm really interested in this project, looking forward for further better instructions.

### Scree

[2022-07-12 04:13] Dun-sin commented on #27
Fixed in #28, hope it makes it better

[2022-07-12 04:13] #27 closed

[2022-07-12 04:36] Dun-sin commented on #23
This has been fixed with the lastest changes, thanks for letting me know

[2022-07-12 04:36] #23 closed

[2022-07-12 10:37] #10 closed

[2022-07-12 17:05] Dun-sin opened #32 "[FEATURE] host backend to heroku"
### Description

Previously the backend is hosted on the local server: localhost:4000, but it needs to be hosted on heroku.
Login won't work because it sends a request to the backend before login in a user

### Screenshots

_No response_

[2022-07-14 09:37] allwells commented on #32
I can do that.

[2022-07-14 12:43] #32 closed

[2022-07-15 10:16] mathiasayivor opened #35 "[BUG] Blank Page on first ever load"
### Description

On first ever load the app is only showing a blank page.
You'd have to refresh again to get the actual app. I think it's a problem with initialization?

To get what I'm talking about, visit [The App Url](https://anon-chat-app.vercel.app), open console and clear all local data  i.e `localStorage.clear()`, then refresh the page.

### Screenshots

_No response_

[2022-07-15 10:44] mathiasayivor opened #36 "[FEATURE] Improve on login system"
### Description

Currently, login status is only stored in localStorage i.e `{isLogged: (true||false)}` which means that I can basically login by changing `isLogged` property to `true` on localStorage.
This could lead to issues in tracking users and their messages, or even chatting on multiple devices as the same user

### Screenshots

_No response_

[2022-07-16 05:40] devXprite commented on #35
Same with me!

![anon chat](https://user-images.githubusercontent.com/80192140/179341568-c4b6f885-47f2-4b5f-9686-2348f177ce90.PNG)

[2022-07-16 10:47] Dun-sin commented on #35
well the app isn't half ready yet, like even if that works you can't chat

[2022-07-17 09:59] mathiasayivor opened #38 "[DOCS] Add documentation for configuring dev environment for /server and /client directories"
### Description

Currently, there's no documentation on how to configure your dev environment for /server directory, which would make it difficult for future contributions.

### Screenshots

_No response_

[2022-07-17 11:20] Dun-sin commented on #38
npm install.......

[2022-07-17 11:33] mathiasayivor commented on #38
![Screenshot from 2022-07-17 11-32-09](https://user-images.githubusercontent.com/74247733/179396137-7a858289-bd5d-4aaa-a6ee-cde46f800a7f.png)

[2022-07-17 11:35] mathiasayivor commented on #38
I had to create the .env file myself, install mongodb & configure it to work with the existing code.

[2022-07-17 11:35] Dun-sin commented on #38
did you read `contributing.md`?

[2022-07-17 11:36] mathiasayivor commented on #38
.env files are not commited by git, they're being ignored

[2022-07-17 11:38] mathiasayivor commented on #38
Yep.
but nothing is included regarding db, configs, etc... only git/github related instructions are there

[2022-07-17 11:40] Dun-sin commented on #38
yep, that I know, no worries I'm adding it soon to GitHub

[2022-07-17 11:48] mathiasayivor commented on #38
I'm currently working trying to make MojoAuth work... currently, apiKey is undefined cos it's being read from `process.env.REACT_APP_IMPORTANT` which i don't have access to:
[code]

[2022-07-17 11:48] mathiasayivor commented on #38
Noted

[2022-07-17 16:41] mathiasayivor opened #40 "[DOCS] Improve directory structure for the app"
### Description

I think it's better and a good practice to organize directories in a self-describing manner.
Currently, we can't distinguish between *Components*, *Pages* and *Routes* cos of the directory structure (i.e Everything is placed in the `components` directory).
I'm suggesting we re-structure it to something like this:
[code]
I think this is somehow related to #15 , but this is more of

[2022-07-17 16:42] mathiasayivor commented on #15
I think we'd need a coding style guide-ish?

[2022-07-17 16:47] mathiasayivor commented on #40
Also, we'd need to restructure the `server` directory but that'd be for later/when we're implementing the chatting features.
Perhaps I'd just open up a new issue for that as well

[2022-07-17 16:59] Dun-sin commented on #40
thanks for this, I didn't know about proper structure. I will wait for someone else who wants to work on this since you work on a lot already.

Thanks for pointing this out

[2022-07-17 16:59] mathiasayivor opened #41 "[FEATURE] Use a UI library"
### Description

@Dun-sin what are your plans on styling/ui of the app?
I think it'd be cool to use a UI library, so we can get a MVP within the shortest possible time instead of using pure tailwind css. Since using a UI library = already made components then we can change it later to match the style we want.

How do we go about this?

### Screenshots

_No response_

[2022-07-17 17:01] Dun-sin commented on #15
do you have suggestions on how?

[2022-07-17 17:03] Dun-sin commented on #41
I thought of that but no, I want most things to be the plain form. As I said this project is more targetted at beginners to understand basic important things like redux and socketio etc

[2022-07-17 17:03] #41 closed

[2022-07-17 17:38] mathiasayivor commented on #15
Well, most of it could be done with eslint + editorconfig...
Then we add a STYLE_GUIDE.md file for specific instructions.

[2022-07-17 17:46] Dun-sin commented on #15
Alright I will let you take this, create a separate issue so you can tag this specifically

[2022-07-17 21:19] mathiasayivor opened #44 "[BUG] dev server for /server not starting due to filename mismatch"
### Description

@Dun-sin your last commit has a bug
The dev server is not starting because the directory referenced in index.js `const User = require('./Schemas/UserSchema');` does not exist

### Screenshots

![a-non-chat-schema](https://user-images.githubusercontent.com/74247733/179425166-1b3f15c0-8f6f-4a45-8017-71d64fb255ff.png)

[2022-07-17 22:50] mathiasayivor commented on #44
I'm fixing this

[2022-07-18 07:40] #35 closed

[2022-07-18 09:47] mathiasayivor opened #47 "[FEATURE] Add Logout button"
### Description

Currently after logging, there's no way to logout from the app beside manually changing `localStorage.isLogged = false`.
This is would be a follow up on #36 and #14
With this, I think the we'd have a complete auth system for the app

### Screenshots

_No response_

[2022-07-18 10:10] mathiasayivor opened #48 "[DOCS] Add Coding Standards"
### Description

As the project grows, so would contributors hence we'd be needing a consistent coding style/naming conventions. This would bring so many advantages in terms of code readability, maintenance and more importantly, scaling.

This issue covers other issues mentioned previously: #15 , #20 and #40

The goal is to provide a style guide + other tools that would help ensure that the above

[2022-07-19 04:11] mathiasayivor commented on #14
@Dun-sin I'd like to work on this.... may I proceed?

[2022-07-19 08:04] Dun-sin commented on #14
Go ahead

[2022-07-19 13:23] #36 closed

[2022-07-19 13:38] #38 closed

[2022-07-19 16:37] mathiasayivor commented on #47
@Dun-sin what are your thoughts on this?

[2022-07-19 16:46] mathiasayivor opened #53 "[FEATURE] Discussion on How The System Works"
### Description

@Dun-sin @Dharmik48 I guess now we need to have a discussion on how the system would work from pairing to chatting, etc.
What features would the system be having? would there be:
* video calls?
* group chats?

Pls let's discuss...

### Screenshots

_No response_

[2022-07-19 16:50] mathiasayivor commented on #40
I think this would be necessary before we begin implementing the main features of the system...

[2022-07-19 17:07] Dun-sin commented on #47
I'm going to leave it for now, until I at least work on the chat part of the itself

[2022-07-19 17:07] Dun-sin commented on #53
I guess it's time to create my community

@renzil and @Pradumnasaraf aren't really into this project

[2022-07-19 17:09] Dun-sin commented on #40
It's just directory structure, won't hinder much of the work to be done.

I will still leave it open for anyone else who wants to work on it

[2022-07-19 17:19] mathiasayivor commented on #53
Oh ok

[2022-07-19 17:20] mathiasayivor commented on #53
Absolutely!

[2022-07-19 17:21] mathiasayivor commented on #53
So @Dun-sin what's up?

[2022-07-19 17:23] mathiasayivor commented on #40
Then I'll work on it... may I?

[2022-07-19 19:13] mathiasayivor commented on #47
noted

[2022-07-20 06:10] Dharmik48 opened #54 "Migrate to Vite"
The initial build and load times in `create-react-app` are very long. The app takes a long time to start up.

On the other hand, using `vite`, the times are reduced by a significant amount! So, I think migrating to `vite` can really enhance developer's experience.

[2022-07-20 07:05] Dun-sin commented on #54
Yeah that's true I use vite for my other project and it's very fast.

Do you want to work on it?

[2022-07-20 07:08] Dharmik48 commented on #54
Yeah, sure! I'd love to!

[2022-07-20 07:59] #14 closed

[2022-07-22 03:30] mathiasayivor opened #57 "[BUG] Env variables are undefined in client"
### Description

Due to migration to the recent migration to vite (#54 ), all env variables are undefined. This is because:

So to resolve the issue, all env variables with the prefix REACT_APP_ needs to be changed to VITE_

### Screenshots

_No response_

[2022-07-22 04:27] Dun-sin commented on #57
@Dharmik48 complete your job. This is yours to fix

[2022-07-22 05:30] Dharmik48 commented on #57
I'll fix that after college, sorry that I missed it😅

[2022-07-22 13:57] #57 closed

[2022-07-27 04:25] imvision opened #59 "[FEATURE] Add docker support"
### Description

Docker compose will make it simple to start the projects and mongo db.

### Screenshots

_No response_

[2022-07-31 11:03] Dun-sin commented on #53
Created the discord server @mathiasayivor

https://discord.gg/KUWjx4fygJ

[2022-08-02 14:02] #53 closed

[2022-08-04 16:04] Dun-sin opened #62 "[FEATURE] Random Pairing"
### Description

A user clicking on the start button should see searching until a room becomes available, and then the chatting interface should appear with only two users.

### Screenshots

_No response_

[2022-08-04 16:09] KendallDoesCoding commented on #20
Can you elaborate further, in which files @Dun-sin?

[2022-08-04 16:14] mathiasayivor commented on #62
Meaning you can't chat with multiple users at the same time?

[2022-08-04 17:10] Dun-sin commented on #20
Every File if possible lol, just write comments using the JsDoc syntax

[2022-08-04 17:11] Dun-sin commented on #62
Yes, just 2

[2022-08-04 17:20] mathiasayivor commented on #62
Damn! Thought you can chat with multiple users, all random.

[2022-08-04 17:23] Dun-sin commented on #62
No that would be so easy to implement🙂

[2022-08-04 17:23] mathiasayivor commented on #62
Are you sure?

[2022-08-04 17:23] mathiasayivor commented on #62
I'm not talking about a chatroom oo

[2022-08-04 17:30] mathiasayivor commented on #62
More like how chat apps work...
Each chat is different,
e.g your chat with *user a* is different from your chat with *user b*. But you can receive message from both of them randomly and your chat session for each user is stored until the user leaves the chat.

[2022-08-04 17:40] Dun-sin commented on #62
Nope, if you are in the search user section, you can't do that, one person at a time🙃 If you like who you are talking to, you can add them as friend(later feature), at that point it starts to act like a regular chat app

[2022-08-04 17:43] mathiasayivor commented on #62
We're on the same page then. Just that I'm already in the future 😂.

[2022-08-04 20:10] Dun-sin commented on #62
That's the easy part honestly, but a user can't dm someone unless they have passed through the searching stage. So when you click on add user, it's going to take both of you to a different section of the app without breaking the room connection

[2022-08-09 15:40] jasham commented on #47
Hello @mathiasayivor is someone working on this feature. I have worked on this tech stack it will be easy for me to implement and learn more, can you please guide me further on this so that I can start.

[2022-08-09 15:43] mathiasayivor commented on #47
@Dun-sin suggested we wait till at least some parts of the app is working.

[2022-08-09 15:45] jasham commented on #47
Thanks @mathiasayivor.

[2022-08-12 17:38] jasham commented on #62
@Dun-sin I am interested in this feature can you please assign this to me.

[2022-08-12 20:11] Dun-sin commented on #62
Sure

[2022-08-13 00:03] jasham commented on #62
Thanks @Dun-sin

[2022-08-14 15:06] simarpreetsingh-019 commented on #48
Hello.
Does anyone have any plans or ideas for template or projects similar to which the docs standard for this project should also be maintained/implemented?

Would be happy to discuss on this and take on this issue after a bit clarity

[2022-08-14 16:14] Dun-sin commented on #48
all discussions happen in the discord server [Join here](https://discord.gg/KUWjx4fygJ)

[2022-08-20 07:06] Dun-sin opened #67 "[OTHER] Use npm ci"
### What would you like to share?

In Github actions, `npm install` is used to install dependencies, but using `npm ci`is much better

Change Github actions to use `npm ci` instead of `npm install`

### Additional information

_No response_

[2022-08-22 10:27] #62 closed

[2022-08-22 10:30] Dun-sin opened #68 "[FEATURE] chat menu"
### Description

The menu icon should be clickable and have the option to close a chat when a chat starts

### Screenshots

![image](https://user-images.githubusercontent.com/78784850/185900533-496b56b4-617c-4f4b-b724-9147e8ffe771.png)

[2022-08-22 10:33] Dun-sin opened #69 "[FEATURE] receive chat"
### Description

Pairing of users now works, but messages can't be seen on the screen, but they can be seen in the console

### Screenshots

_No response_

[2022-08-22 11:07] #69 closed

[2022-08-22 11:09] Dun-sin opened #71 "[BUG] so much rendering"
### Description

When a user chats with another user, it renders the message many times

the real problem here is the message sent is dispatched a lot of times to Redux and Redux shows the messages

### Screenshots

_No response_

[2022-08-22 13:58] mathiasayivor commented on #71
Can you give me the steps to reproduce this issue?

[2022-08-23 03:23] Dun-sin commented on #71
just try to chat

[2022-08-24 10:00] Dun-sin opened #72 "[DOCS] better folder structure"
### Description

**_Problem_**: The structure of the project is bad, it goes in the format of component ⇾ Page + Logical solution + CSS styles

**_Solution_**: pages, components and styles with its own folder.

If you know a better folder structure for react applications, you can send a YouTube video link (most preferred) or an article on how the structure works/looks like

### Screenshots

_No re

[2022-08-24 10:04] #9 closed

[2022-09-06 10:10] hasnainmakada-99 commented on #67
Hey @Dun-sin  I would like to try to solve this one

[2022-09-06 12:47] Dun-sin commented on #67
Yes, go ahead

[2022-09-07 04:50] hasnainmakada-99 commented on #67
Hey @Dun-sin I just have to make changes in the yaml files to change the `npm install` to `npm ci `  right ?

[2022-09-07 10:15] hasnainmakada-99 commented on #59
Hey @imvision I would like to know more about this issue and I'll like to give it a try

[2022-09-10 11:27] rajanmagar commented on #72
Solution: A perfect and ideal solution for what you are looking for. https://blog.webdevsimplified.com/2022-07/react-folder-structure/

[2022-09-11 13:17] Coding-Hashira opened #75 "Responsiveness Issue"
### Description

In small devices, everything in the start (or search) screen appears quite big. Even in other tabs, text appears quite big.

### Screenshots

![IMG_20220911_184141](https://user-images.githubusercontent.com/96920778/189529677-0519f554-e339-46e0-88d7-523514d20503.jpg)

[2022-09-11 14:34] Dun-sin commented on #75
Yeah I know about this, this isn't an issue right now, focusing on things with actual priority like making it work first🙂

Thanks for pointing this out tho

[2022-09-12 07:46] Dun-sin commented on #72
Thank you for this

[2022-09-15 12:10] unkwnownGriot opened #77 "[BUG] Search for someone didn't work"
### Description

I'm actually on the live demo website and whenever  click on the start button it displays a page with **searching...** without displaying anything else

### Screenshots

![2022-09-15 12_09_08-Window](https://user-images.githubusercontent.com/83823820/190400079-992532f8-30e0-4fb0-b949-1bd9d5c25684.png)

[2022-09-15 13:26] Dun-sin commented on #77
The app latest version isn't hosted yet because of this bug #71 I updated the about so people will know this app isn't functioning yet

[2022-09-15 13:34] unkwnownGriot commented on #77
so how can i help you to fix this bug ? In the version of the project i have i can't even send messages

[2022-09-15 14:24] Dun-sin commented on #77
As I said it's not hosted, so you have to clone it and all

[2022-09-15 16:25] mathiasayivor commented on #68
Was this implemented?

[2022-09-15 16:26] Dun-sin commented on #68
nope, i just added the logo

[2022-09-15 16:27] mathiasayivor commented on #68
oh ok

[2022-09-20 10:56] #72 closed

[2022-09-20 11:16] Dun-sin opened #78 "[DOCS] change discord link"
### Description

Change the community discord link to this 👉🏾 https://discord.gg/ufcysW9q23

find it [here](https://github.com/Dun-sin/Whisper#-community)

### Screenshots

_No response_

[2022-09-20 11:41] mathiasayivor commented on #59
Hey @Dun-sin what do you think about this issue?
Using docker just makes things easier

[2022-09-20 11:46] Dun-sin commented on #59
I left it for a reason, pretty non-important in my opinion for now anyway

[2022-09-20 13:50] #78 closed

[2022-09-20 20:52] mathiasayivor opened #81 "[FEATURE] Use context api in place of redux"
### Description

Redux is just too complicated, and overkill for this project (https://twitter.com/reactive_dude/status/1565366045879275522)
And since it's delaying us in creating the MVP, it's just better to use context API for now.

### Screenshots

_No response_

[2022-09-21 16:43] #81 closed

[2022-09-21 16:58] #40 closed

[2022-09-21 17:04] mathiasayivor opened #83 "[FEATURE] Improve on random user pairing"
### Description

Currently, it's unclear if users are being properly paired. We need to get the pairing feature fully working

### Screenshots

_No response_

[2022-09-21 17:07] Dun-sin commented on #83
How is it unclear?

[2022-09-21 17:12] mathiasayivor commented on #83
On the `/founduser` route, I sometimes get matched to myself, or just a loading text ('Searching.....').

[2022-09-21 17:18] mathiasayivor commented on #83
It's unclear if that's for testing purposes or if it's a bug.
We need to get the pairing feature fully working now hence contributing to our aim toward an MVP asap

[2022-09-21 17:18] Dun-sin commented on #83
Oh yeah I noticed that

[2022-09-21 17:20] mathiasayivor commented on #83
Can I hop on this one?

[2022-09-21 17:27] Dun-sin commented on #83
Sure, is chatting working better now?

[2022-09-21 17:32] mathiasayivor commented on #83
![Screenshot from 2022-09-21 17-30-22](https://user-images.githubusercontent.com/74247733/191572038-08a4af18-a713-48ad-a3fb-74160115da82.png)

So far, this is how it's going. I'm not getting any rendering issues, etc

[2022-09-21 18:12] Dun-sin commented on #83
Isn't that repeating twice?

[2022-09-21 18:13] mathiasayivor commented on #83
yh

[2022-09-21 18:17] Dun-sin commented on #83
Yeah that's what I meant by rendering issue

[2022-09-21 18:17] mathiasayivor commented on #83
Oh I see now

[2022-09-21 18:18] mathiasayivor commented on #83
I'm working on it anyways

[2022-09-21 18:19] mathiasayivor commented on #83
Is it possible to close two issues at once?
i.e issue #71 and this one

[2022-09-21 18:22] Dun-sin commented on #83
@jasham wanted to work on the rendering issue

[2022-09-21 18:22] mathiasayivor commented on #83
Oh ok

[2022-09-21 18:23] mathiasayivor commented on #83
Would leave that part for now

[2022-09-21 18:31] jasham commented on #83
Thanks @Dun-sin & @mathiasayivor. I will start working on it now.

[2022-09-21 19:05] jasham commented on #83
@Dun-sin @mathiasayivor is context-api integrated with the project ??

[2022-09-21 19:06] Dun-sin commented on #83
Yes

[2022-09-22 04:35] #83 closed

[2022-09-26 17:40] Vishrut19 commented on #15
Hey @Dun-sin what do you want me to do in this issue ? If this issue is still open

[2022-09-26 17:47] Dun-sin commented on #15
read, the original issue
this is based on refactoring

[2022-09-28 00:51] mathiasayivor opened #85 "[FEATURE] Add Typescript Support"
### Description

As the project grows, we're gonna need typescript to at least help with typing support.
Currently, we're writing types using jsdoc, which is a bit verbose

NOTE: This is not a priority atm, but to serve as a todo

### Screenshots

_No response_

[2022-09-28 00:57] mathiasayivor opened #86 "[BUG] Fix GH Actions"
### Description

Currently, GH action checks fail after PRs, it'd be nice to have all checks pass unless the pr has a bug

*TODO*

### Screenshots

_No response_

[2022-09-28 01:57] Dun-sin commented on #86
Don't mind me, It works but the action secret expired and I'm lazy to fix it

[2022-09-28 12:01] Gismo1337 opened #87 "[BUG] SSO using Google caused in errors"
### Description

Never logged in before.
Used Google as sign in

**Got instant errors at homescreen:**
[code]

### Screenshots

![grafik](https://user-images.githubusercontent.com/6397577/192773619-53fbe94b-9cc8-4a96-a0f6-93425e22fc60.png)
![grafik](https://user-images.githubusercontent.com/6397577/192773659-84a46b7c-8759-49b7-b647-986a43d31835.png)

[2022-09-28 12:03] Gismo1337 opened #88 "[BUG] errors visiting wallet"
### Description

Visiting Wallet caused errors
See Screenshot

### Screenshots

![grafik](https://user-images.githubusercontent.com/6397577/192773926-85820c7f-ef61-44dc-899e-5df950c1d47b.png)

[2022-09-28 12:04] Dun-sin commented on #87
By google do you mean your gmail?

[2022-09-28 12:05] Gismo1337 opened #89 "[BUG] visit messaging need user id"
### Description

Visiting Messaing caused error: userID required.

i used google sign in.

[code]

### Screenshots

![grafik](https://user-images.githubusercontent.com/6397577/192774079-4bbeeb4b-cc11-4771-869e-a48cdaa7ce87.png)

[2022-09-28 12:05] Dun-sin commented on #88
I think you are at the wrong project

[2022-09-28 12:06] Dun-sin commented on #89
Wrong Project

[2022-09-28 12:07] mathiasayivor commented on #88
@Gismo1337 I think you're on the wrong repository

[2022-09-28 12:09] Dun-sin commented on #88
try the link in about

[2022-09-28 12:12] Gismo1337 commented on #88
Readme.md
demo

[2022-09-28 12:16] Dun-sin commented on #88
Anyway, where ever you got the link to this repo is pointing to the wrong place.

You can check out this project too, if you like

[2022-09-28 12:16] #88 closed

[2022-09-28 12:16] Gismo1337 commented on #88
Yes

https://whisper.vercel.app/
![grafik](https://user-images.githubusercontent.com/6397577/192776247-028574c1-e097-46f8-970c-2e2296983495.png)

[2022-09-28 12:16] #87 closed

[2022-09-28 12:16] #89 closed

[2022-09-28 12:17] Dun-sin commented on #88
This isn't my project, very different from the one in this project's about

[2022-09-28 12:18] Dun-sin commented on #88
I see where the problem is coming from

[2022-09-28 12:19] Dun-sin commented on #88
right repo, wrong project

[2022-09-28 12:20] Gismo1337 commented on #88
you are kidding.
this is you?
![grafik](https://user-images.githubusercontent.com/6397577/192776662-e57cf551-9cba-4e7f-93d4-1080af5a2e5b.png)

scroll down in readme to this position and click on whisper
![grafik](https://user-images.githubusercontent.com/6397577/192776786-6e62447d-6654-41b2-ac2d-95a7d7d37649.png)

its this link:
https://whisper.vercel.app/

and i am right now in the issues of this

[2022-09-28 12:21] Dun-sin commented on #88
@Gismo1337 as i said, i see where the problem is coming from, you are in the right repo that was linked to the wrong project.

Apologies for the confusion, it has been fixed with the proper link in the README file. Thanks for pointing it out

Thank you for wanting to contribute, I hope you still do so

[2022-09-28 12:52] Dun-sin opened #92 "[DOCS] wrong link in README"
### Description

`View Demo` has a wrong link, replace it with the proper link to the site, which can be found in about section of this repo

### Screenshots

![image](https://user-images.githubusercontent.com/78784850/192782782-0b489f48-503a-491d-b603-f30a2cbc6eee.png)

[2022-09-28 13:10] cesar-codes commented on #92
Hi @Dun-sin - this seems like a cool project and I'd like to help. May I claim this issue, please?

[2022-09-28 13:11] Dun-sin commented on #92
Definitely, thanks for wanting to contribute

[2022-09-28 14:25] pushkaraj2007 commented on #75
Hey @Dun-sin,

Should I work on this, or let it go for now?

[2022-09-28 14:26] Dun-sin commented on #75
Was going to say let it go, but do it

[2022-09-28 14:29] pushkaraj2007 commented on #75
Thanks for assigning, @Dun-sin

[2022-09-28 14:50] BurhanRaja commented on #85
Hello @mathiasayivor,
Can I contribute to this issue-feature?

[2022-09-28 14:56] BurhanRaja commented on #85
Hello @mathiasayivor
Can I contribute to this **issue-feature**?

[2022-10-01 06:07] RAM844 commented on #92
Hey @Dun-sin , is this issue resolved?

[2022-10-01 06:10] #92 closed

[2022-10-01 06:10] #77 closed

[2022-10-01 06:11] #67 closed

[2022-10-01 07:17] olamide203 opened #96 "[DX] use npm workspaces"
### What would you like to share?

I noticed that `npm install` and `npm start` have to be run separately for the server and client. npm workspaces can be used to make this workflow easier. for reference [npm workspaces](https://docs.npmjs.com/cli/v7/using-npm/workspaces).

if it is okay I can work on this.

### Additional information

_No response_

[2022-10-02 04:00] Nakamcode opened #97 "[FEATURE] Open graph"
### Description

### An open graph is a preview image that shows when a link is shared on social media
_for more info about open graphs read the blog below_
https://ahrefs.com/blog/open-graph-meta-tags/

### Screenshots

![captures_chrome-capture-2022-9-2 (1)](https://user-images.githubusercontent.com/89482825/193437212-ab0a3b39-da89-48b6-967e-0ce96a02174b.png)

[2022-10-02 12:14] nik132-eng commented on #20
If this issue is still unresolved, I want to take it up. Please give me this problem to work on during Hacktoberfest.

[2022-10-02 16:29] mathiasayivor opened #98 "[DOCS] Remove Redux from Readme"
### Description

Redux is no longer a dependency of the project hence it needs to be removed from the readme's **Built With** section.

### Screenshots

_No response_

[2022-10-02 16:43] grraghav120 commented on #98
I would like to work on this issue please assign it to  me.

[2022-10-03 03:23] olamide203 opened #101 "[BUG] wrong casting of receiverId to number"
### Description

wrong casting of `userID` to type `number` can lead to undefined behavior inside the chat component.
https://github.com/Dun-sin/Whisper/blob/fc605203e879088423e4b4bdafb743a92c755de7/client/src/components/Chat.jsx#L39-L42

for example, if a userID is `061253335021`,  casting to number removes additional zeros at the start which leads to the value `61253335021`. in this case, `state

[2022-10-03 03:27] olamide203 commented on #101
I would like to work on fixing this if it is okay

[2022-10-03 10:23] #98 closed

[2022-10-03 10:24] Dun-sin commented on #101
Definitely, thanks for wanting to contribute

[2022-10-03 10:25] #75 closed

[2022-10-03 14:30] olamide203 commented on #71
the problem seems to be coming from the dependency array passed to the `useEffect`  hook inside the chat component. I would like to work on this if it hasn't been assigned to anyone yet.

[2022-10-03 15:42] JhoanAlvear commented on #68
i can help with the problem

[2022-10-03 15:50] Dun-sin commented on #68
Sure go for it, thanks for wanting to contribute

[2022-10-03 15:51] Dun-sin commented on #71
@jasham @mathiasayivor were you able to come up with a fix?

[2022-10-03 15:52] dhfherna commented on #47
Hi guys!! @mathiasayivor, @Dun-sin  Anyone is working on this feature?, I can work on it.

[2022-10-03 20:05] mathiasayivor commented on #71
Thought @jasham was to do some presentation?

[2022-10-04 07:03] saloni137 commented on #20
I would like to work on this issue @Dun-sin

[2022-10-04 12:51] Dun-sin commented on #71
I think so too

[2022-10-04 12:52] Dun-sin commented on #20
Definitely, thanks for wanting to contribute

[2022-10-04 13:02] jasham commented on #71
Let's connect today.

[2022-10-05 17:44] #47 closed

[2022-10-06 10:57] olamide203 commented on #71
Hi @Dun-sin, can I help with this issue?

[2022-10-07 12:36] mihir1739 commented on #97
I would like to work on it..

[2022-10-07 23:56] #68 closed

[2022-10-11 05:02] #96 closed

[2022-10-11 07:17] KendallDoesCoding commented on #20
Ok. Cool

On Thu, 4 Aug 2022, 10:40 pm Dunsin, ***@***.***> wrote:

[2022-10-11 20:41] aryamankha opened #107 "UI Improvements on Search page"
### Description

A few UI improvements could go a long way on this page.
- When friends or profile tab is selected, search friends tab should deselect
- Consistent font style + color across text
- Consistent spacing between lines of text
- Eliminate drop down and just have a "Close Chat" button

### Screenshots

_No response_

[2022-10-12 04:57] Dun-sin opened #109 "[OTHER] remove alert"
### What would you like to share?

There's an alert when the logout button is clicked, it should be removed.

Remove this line👇🏾
https://github.com/Dun-sin/Whisper/blob/774dcd3c91d6b65c3e3e3ebce6c09e16e646956a/client/src/context/reducers/authReducer.js#L21

[2022-10-12 05:06] jsvigneshkanna commented on #109
@Dun-sin , please assign me this issue,will fix it

[2022-10-12 05:09] Dun-sin opened #110 "[FEATURE] Add confirmation modal"
### Description

When a user clicks to log out, there should be a modal asking if they truly want to log out.
This is so that if they accidentally click the logout button, it asks if they are sure they want to log out.

## Your Tasks
- [ ] Create a modal pop-up, that's triggered when a user clicks on the logout button, Should have two options (yes, no)
- [ ] The background for `no` should be `rgb(

[2022-10-12 05:10] Dun-sin commented on #20
@nik132-eng an update is needed on this

[2022-10-12 05:20] #15 closed

[2022-10-12 05:28] Dun-sin opened #111 "[FEATURE] Remove change of colour hover effect"
### Description

When you hover the start button the colour changes, and it has a text underline(the default style for a link), remove that

Element that the change should apply to
https://github.com/Dun-sin/Whisper/blob/774dcd3c91d6b65c3e3e3ebce6c09e16e646956a/client/src/pages/Start.jsx#L21-L29

### Screenshots

![image](https://user-images.githubusercontent.com/78784850/195256674-f4c54708-b4d2-4

[2022-10-12 05:34] jsvigneshkanna commented on #111
Please assign me this issue

[2022-10-12 05:34] kaustav202 commented on #111
I'd like take this up @Dun-sin

[2022-10-12 05:36] Dun-sin commented on #111
Definitely, thanks for wanting to contribute, Good Luck.

Make sure you follow the rules in the contributing file, or your PR will not be accepted

[2022-10-12 05:43] NizarAhamed97 commented on #111
Can i get this?

[2022-10-12 05:43] FireFoxHD commented on #110
I'll handle this @Dun-sin

[2022-10-12 11:47] jsvigneshkanna commented on #109
@Dun-sin PR- #114

[2022-10-12 14:10] #111 closed

[2022-10-12 14:12] #109 closed

[2022-10-13 07:42] TanmayBhosale commented on #110
@Dun-sin, I can work on this!

[2022-10-13 08:50] mathiasayivor opened #115 "[BUG] Delay in random pairing on initial load"
### Description

When searching for a random user, you have to refresh the page before the system actually pairs you.

### Screenshots

_No response_

[2022-10-13 09:01] Dun-sin opened #116 "[OTHER] remove signin text"
### What would you like to share?

Remove the sign-in text in the sign-in page

### Additional information
Here's the element to remove
https://github.com/Dun-sin/Whisper/blob/3e3a255c6a3ac08f342cf8518a5a1238f7fe346d/client/src/pages/Login.jsx#L122

![image](https://user-images.githubusercontent.com/78784850/195552575-3c208c43-55d1-4257-9e05-516a583b66e3.png)

[2022-10-13 11:05] anuragh2002 commented on #116
Hey @Dun-sin I would like to work on it. Can you please assign this issue to me?

[2022-10-13 11:07] Dun-sin commented on #116
Definitely, thanks for wanting to contribute, Make sure you follow the rules [here](https://github.com/Dun-sin/Whisper/blob/main/CONTRIBUTING.md#rules), else your PR will not be accepted
Good Luck

[2022-10-13 11:09] anuragh2002 commented on #116
Also, should I just delete this element or modify it with different text?

[2022-10-13 11:27] #116 closed

[2022-10-14 11:19] Dun-sin opened #119 "[FEATURE] change `login anonymously`"
### Description

Make the `login anonymously` button to just a clickable text

- [ ] remove the background
- [ ] add an underline on hover

new:
![image](https://user-images.githubusercontent.com/78784850/195779062-0aa4e42d-eaa4-4b71-94cd-862524fb40a2.png)

### Screenshots

Old:
![image](https://user-images.githubusercontent.com/78784850/195778784-c6fc84bb-7c40-4955-b57c-86e8b370afbf.png)

[2022-10-14 11:21] yhoungdev commented on #119
.token

[2022-10-14 11:23] yhoungdev commented on #119
will handle this

[2022-10-14 11:38] Dun-sin opened #120 "[FEATURE] add background colour to search"
### Description

Change the background colour to the primary colour (already declared in tailwind) for search component.

### Your tasks:
- [ ] Change the background colour by adding `bg-primary` to the div below👇🏾
https://github.com/Dun-sin/Whisper/blob/ef002eb88fdeb9ebe72a1ea42579fe303bc3c72f/client/src/pages/Searching.jsx#L71
- [ ] change the colour for the loading animation (the element below

[2022-10-14 11:41] Sayan2908 commented on #120
@Dun-sin can you assign it to me?

[2022-10-14 11:42] Dun-sin commented on #120
Definitely, thanks for wanting to contribute, Make sure you follow the rules [here](https://github.com/Dun-sin/Whisper/blob/main/CONTRIBUTING.md#rules), else your PR will not be accepted
Good Luck

[2022-10-14 12:03] Divyesh1511 commented on #119
Can you assign me this @Dun-sin?

[2022-10-14 12:25] Dun-sin commented on #119
Definitely, thanks for wanting to contribute, Make sure you follow the rules [here](https://github.com/Dun-sin/Whisper/blob/main/CONTRIBUTING.md#rules), else your PR will not be accepted
Good Luck

[2022-10-14 12:59] mathiasayivor commented on #115
@Dun-sin can I work on this?

[2022-10-14 13:01] Hrx4 commented on #120
is there any specific color for background?

[2022-10-14 13:05] Dun-sin commented on #115
Thought you already did🤔

[2022-10-14 13:06] Dun-sin commented on #120
There is but it's already defined, just do as the issue says

[2022-10-14 13:06] Dun-sin commented on #120
If you want it, let me know

[2022-10-14 13:10] Hrx4 commented on #120
ok , you can assign me the issue.

[2022-10-14 13:12] Dun-sin commented on #120
Great, thanks for wanting to contribute, Make sure you follow the rules [here](https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md#rules), else your PR will rejected and closed.
Good Luck

[2022-10-14 14:33] Divyesh1511 commented on #119
Hey, @Dun-sin I am unable to run the project on my work desk can you please just help me out

[2022-10-14 14:35] yhoungdev commented on #119
whats your Node version. if its Version 18 then you need to downgrade to 16 or 17

you can use NVM to handle that

[2022-10-14 14:58] #120 closed

[2022-10-14 15:02] Dun-sin commented on #119
What happened when you tried npm start

[2022-10-14 15:05] Divyesh1511 commented on #119
while doing the npm install only it throws an error

[2022-10-14 15:06] Dun-sin commented on #119
Figured, what's the error

[2022-10-14 15:06] Divyesh1511 commented on #119
Ok I guess this might be the issue let me try once

[2022-10-14 15:10] yhoungdev commented on #119
You can paste the issue here or image of it

[2022-10-14 15:10] Divyesh1511 commented on #119
Sorry I couldn't get it

[2022-10-14 15:14] Divyesh1511 commented on #119
@yhoungdev this is what it shows
![Screenshot (772)](https://user-images.githubusercontent.com/75933218/195881359-e9b13a0a-87a2-4dfd-8fce-c5abb6f3451a.png)

[2022-10-14 15:15] yhoungdev commented on #119
You got this while trying to npm install right ?

[2022-10-14 15:17] Divyesh1511 commented on #119
Yes

[2022-10-14 15:17] Dun-sin commented on #119
Could be your internet connection, try again

[2022-10-14 15:19] Divyesh1511 commented on #119
It's perfectly working fine, I guess there is another issue

[2022-10-14 15:22] Dun-sin commented on #119
Well did you try again?

[2022-10-14 15:23] Divyesh1511 commented on #119
Yes tried multiple times now I am downgrading my node version and trying once again

[2022-10-14 15:28] yhoungdev commented on #119
If you are running node 18 you should get already while doing npm install

[2022-10-14 15:31] Divyesh1511 commented on #119
So you are saying that npm install should work in node 18 too?

[2022-10-14 15:33] Dun-sin commented on #119
It should not be a problem

[2022-10-14 15:35] yhoungdev commented on #119
Became some days back I tried installing npm on this application and I got warning urging to downgrade to Node 16

[2022-10-14 15:37] Dun-sin commented on #119
@Divyesh1511 if you aren't able to install this project, let me know

[2022-10-14 15:39] Divyesh1511 commented on #119
Yes I am unable to install it

[2022-10-14 15:40] Divyesh1511 commented on #119
You can assign it to anyone else, really sorry for the inconvenience

[2022-10-14 15:40] Dun-sin commented on #119
okay then, i don't know what's wrong, so i will just assign this to someone else

[2022-10-14 15:40] Divyesh1511 commented on #119
Ok

[2022-10-14 15:43] yhoungdev commented on #119
Working on the issue

[2022-10-14 16:07] Hrx4 commented on #110
Hey @Dun-sin  you can assign me this issue , i will solve this.

[2022-10-14 16:41] Dun-sin opened #125 "[FEATURE] Make the text colour clearer when searching"
### Description

## Your tasks
- [ ] Make the text colour of this page white

here's the element that needs the change👇🏾
https://github.com/Dun-sin/Whisper/blob/01e7d8fbb4a613b0c15d3b1fb1e97db44de389d7/client/src/pages/Searching.jsx#L73

### Screenshots

![image](https://user-images.githubusercontent.com/78784850/195888204-b8ab8933-9470-49d6-a60c-4e35552c0cc7.png)

[2022-10-14 16:42] jsvigneshkanna commented on #125
@Dun-sin please assign me this issue

[2022-10-14 17:08] Dun-sin commented on #125
leaving this issue for new contributors

[2022-10-14 17:33] Dun-sin opened #126 "[FEATURE] save the right room to context"
### Description

The default room when saving the message to context is 'anon', it should be the roomid generated at the backend

where needs change:
https://github.com/Dun-sin/Whisper/blob/01e7d8fbb4a613b0c15d3b1fb1e97db44de389d7/client/src/components/Chat.jsx#L75

#### Your Tasks
- [ ] Send the room id from the backend
- [ ] Use it for the addmessage dispatch room field

[2022-10-14 17:40] jeoffreyduke commented on #125
Could I work on two of your projects? This issue should be easy🙃

[2022-10-14 17:42] Dun-sin commented on #125
will leave this for entirely new people

[2022-10-14 17:46] Dun-sin opened #127 "[FEATURE] Clicking on `close chat` should remove every info"
### Description

Clicking on `close chat` just takes you away from the chat component, if you click on `start` it takes you to the previous chat and that's not good

#### Tasks
- [ ] send a `close` event to socketio
- [ ] remove the user from the current room
- [ ] delete the room in general

### Screenshots

_No response_

[2022-10-14 18:52] Dun-sin commented on #125
Definitely, thanks for wanting to contribute, Make sure you follow the rules [here](https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md#rules), else your PR will not be accepted
Good Luck

[2022-10-15 07:45] yhoungdev commented on #119
This issue has been fixed on #124

[2022-10-15 08:39] creative-tutorials commented on #119
On it

[2022-10-15 09:14] Dun-sin opened #130 "[FEATURE] change `login anonymously` UI"
### Description

Make the `login anonymously` button to just a clickable text

- [ ] remove the background
- [ ] add an underline on hover

new:
![image](https://user-images.githubusercontent.com/78784850/195779062-0aa4e42d-eaa4-4b71-94cd-862524fb40a2.png)

### Screenshots

Old:
![image](https://user-images.githubusercontent.com/78784850/195778784-c6fc84bb-7c40-4955-b57c-86e8b370afbf.png)

[2022-10-15 09:17] najeebkp commented on #130
hi @Dun-sin please assign this to me

[2022-10-15 09:21] Dun-sin commented on #130
Definitely, thanks for wanting to contribute, Make sure you follow the rules [👉🏽here👈🏽](https://github.com/Dun-sin/Whisper/blob/main/CONTRIBUTING.md#rules), else your PR will not be accepted and will be closed.
Good Luck

[2022-10-15 10:25] #130 closed

[2022-10-15 11:00] Dun-sin opened #132 "[FEATURE] add stop button"
### Description

We have a button to start searching for someone to talk to, but we don't have one for when someone wants to stop searching.

**Tasks**
- [ ] add stop button, should have the same styles as the stop button, but smaller
- [ ] when clicked should stop searching for a a user

[2022-10-15 11:06] Dun-sin opened #133 "[FEATURE] Add menu for mobile view"
### Description

On mobile view the navbar makes it look unresponsive.

**Tasks**
- [ ] Add a menu icon using React-icons
- [ ] make the navbar not visible on mobile
- [ ] make the navbar only visible when the menu icon is clicked
- [ ] add a close icon
- [ ] make the navbar not visible when the close icon is clicked

### Screenshots
![Screenshot_2022-10-15-12-07-11-978_com brave browser](https://

[2022-10-15 12:38] Anuran12 commented on #133
Hii @Dun-sin I would like to work on this.. please assign it to me.

[2022-10-15 13:45] Dun-sin commented on #133
Definitely, thanks for wanting to contribute, Make sure you follow the rules [👉🏽here👈🏽](https://github.com/Dun-sin/Whisper/blob/main/CONTRIBUTING.md#rules), else your PR will not be accepted and will be closed.
Good Luck

[2022-10-15 14:28] Anuran12 commented on #133
@Dun-sin Hey.. is there any way to run the website without mongodb ?

[2022-10-15 14:30] Dun-sin commented on #133
Well no, but you need the env filled

[2022-10-15 14:36] Anuran12 commented on #133
How ?

[2022-10-15 14:37] Dun-sin commented on #133
Do you know what an env is?

[2022-10-15 14:39] Anuran12 commented on #133
There is two evn_sample files. I need to change the address there after hosting local database. right ?

[2022-10-15 14:44] Anuran12 commented on #133
@Dun-sin  ??

[2022-10-15 14:47] Dun-sin commented on #133
No, just leave it as it is, you have no business with the backend so it should be fine.

[2022-10-15 14:50] Anuran12 commented on #133
so how can i host it. please told me. I don't have any backend knowledge

[2022-10-15 15:01] Dun-sin commented on #133
You don't need to do anything with the backend, your work is in the frontend, just fill the env and leave it at that and focus on the frontend.

If you can't do it let me know

[2022-10-15 15:28] Anuran12 commented on #133
I don't know how to fill evn.

[2022-10-15 15:28] Anuran12 commented on #133
@Dun-sin Please tell me

[2022-10-15 15:37] Dun-sin commented on #133
Create a new file called ".env" ,copy the things in the env_sample files and paste them in the file you created, do it for both folders.

[2022-10-15 15:55] Dun-sin commented on #133
@Anuran12 figured it out?

[2022-10-15 16:06] Anuran12 commented on #133
@Dun-sin yea.. but
![image](https://user-images.githubusercontent.com/104062485/195996475-5d811169-2f01-4484-be59-2bf59418fe64.png)

[2022-10-15 16:07] Anuran12 commented on #133
I did no install mongodb. do i have to install it ?

[2022-10-15 16:13] Dun-sin commented on #133
Yes, but leave this issue I'm closing it.

Thanks for wanting to contribute, you can checkout other easier issues.

[2022-10-15 16:13] #133 closed

[2022-10-15 16:14] Anuran12 commented on #133
why? please let me solve this.

[2022-10-15 16:55] Anuran12 commented on #133
@Dun-sin  Hey i hosted it.
![image](https://user-images.githubusercontent.com/104062485/195998615-6a11b6b3-5cf7-431a-8435-079d47281aae.png)

[2022-10-15 16:56] Anuran12 commented on #133
@Dun-sin Now tell me where can i found the hosted website. so that i could see my changes there ?

[2022-10-15 18:58] ays14 commented on #132
Hi @Dun-sin , can I take this up?

[2022-10-15 18:59] Dun-sin commented on #132
Definitely, thanks for wanting to contribute, Make sure you follow the rules [👉🏽here👈🏽](https://github.com/Dun-sin/Whisper/blob/main/CONTRIBUTING.md#rules), else your PR will not be accepted and will be closed.
Good Luck

[2022-10-15 21:46] mathiasayivor opened #134 "[FEATURE] Add message sent status"
### Description

Show an indicator on each message that shows whether the message was sent successfully or failed to send

### Screenshots

_No response_

[2022-10-15 21:47] mathiasayivor opened #135 "[FEATURE] Add resend message option"
### Description

Display an option to resend failed messages (#134)

### Screenshots

_No response_

[2022-10-15 21:49] mathiasayivor opened #136 "[FEATURE] Add delete message feature"
### Description

Users should be able to delete messages they've sent in a chat

### Screenshots

_No response_

[2022-10-15 22:00] mathiasayivor opened #137 "[FEATURE] Position messages based on sender"
### Description

Messages should be positioned based on the sender of the message in the chat.
Currently, all messages are aligned left and this makes it difficult to know the sender of a message.

### Screenshots

Current Behaviour:
![Screenshot from 2022-10-15 21-58-45](https://user-images.githubusercontent.com/74247733/196009160-0e217e09-30b7-4323-914f-86eb3b9f3820.png)

Expected Behaviour:
![S

[2022-10-16 02:53] khanhtranngoccva commented on #126
I can contribute to this, Dunsin!

[2022-10-16 04:02] Dun-sin commented on #126
thanks for wanting to contribute, Make sure you follow the rules [👉🏽here👈🏽](https://github.com/Dun-sin/Whisper/blob/main/CONTRIBUTING.md#rules), else your PR will not be accepted and will be closed.
Good Luck

[2022-10-16 04:19] Dun-sin opened #138 "[FEATURE] Make the navbar mobile responsive"
### Description

On smaller screens(mobile), the navigation bar squeezes the rest of the content.

Tasks:
- [ ] Move the navigation bar to the bottom of the screen rather than the side

### Screenshots

![Screenshot_2022-10-15-12-07-11-978_com brave browser](https://user-images.githubusercontent.com/78784850/196017654-ccd9c5b3-3194-4360-ba3b-ca7293e753d0.jpg)

[2022-10-16 04:59] Harsh-garg-coder commented on #138
can you assign this issue to me?

[2022-10-16 05:00] Dun-sin commented on #138
Definitely, thanks for wanting to contribute, Make sure you follow the rules [👉🏽here👈🏽](https://github.com/Dun-sin/Whisper/blob/main/CONTRIBUTING.md#rules), else your PR will not be accepted and will be closed.
Good Luck

[2022-10-16 07:00] mnosov622 commented on #136
Hi @mathiasayivor !

I would love to work on this issue.

Could you assign it to me, please ?

[2022-10-16 10:23] #86 closed

[2022-10-16 10:23] #48 closed

[2022-10-16 10:23] #20 closed

[2022-10-16 10:30] mathiasayivor opened #139 "[FEATURE] Improve on route guard"
### Description

The current implementation for routing does not make provision for multiple unguarded routes. It would be good for us to have a routing solution, where we can add/remove protection for multiple routes easily.

### Screenshots

_No response_

[2022-10-16 10:51] mathiasayivor opened #140 "[FEATURE] Improve on user registration flow"
### Description

The current registration flow makes two requests to the server; The first one is for checking if the user exists and the second is for registering the user if the account does not exist. We can greatly improve on this by doing all those checks at the backend, in a single request.

### Screenshots

_No response_

[2022-10-16 11:01] Dun-sin commented on #139
Hmmmm, I don't understand this, explain more

[2022-10-16 11:02] Dun-sin commented on #140
Makes sense, are you working on this one or should I leave it up for other contributions

[2022-10-16 11:27] mathiasayivor commented on #139
The current implementation. It works but does not provide room for adding multiple unguarded routes. This means multiple `if` statements when we want to add other pages that do not need to be guarded and the code, becomes hacky/messy.
![Screenshot from 2022-10-16 11-12-37](https://user-images.githubusercontent.com/74247733/196032183-d0833b33-cab5-4747-86b0-f3f93afea75e.png)

The proposed structure

[2022-10-16 11:28] mathiasayivor commented on #140
Sure. You can assign me.

[2022-10-16 11:38] Dun-sin commented on #139
Alright makes sense

[2022-10-16 12:54] #139 closed

[2022-10-16 12:54] #110 closed

[2022-10-16 12:57] #140 closed

[2022-10-16 20:28] #137 closed

[2022-10-16 20:31] mathiasayivor opened #145 "[BUG] Reference error when registering a new user"
### Description

In `server/index.js` there is a reference to an undefined object `validator` when registering email users. This bug prevents users from registering using their email.

### Screenshots

_No response_

[2022-10-16 21:04] #145 closed

[2022-10-17 02:51] shdesarrollo commented on #127
I would like to work on it. Please assign me!

[2022-10-17 17:19] #134 closed

[2022-10-17 17:26] Dun-sin opened #147 "[BUG] moving to another page loses state of previous state"
### Description

when a user is in the search page and they click on the other pages, the previous state of the previous page is gone, which means if they were in a chat or were searching, they can't access that state anymore

**Tasks**
- [ ] Keep a general state for each tasks going on in the search page
- [ ] When a user is not searching and not in a chat, their current state should be `notSearc

[2022-10-17 17:27] Dun-sin commented on #125
@Omm2005 an update on this pls? It doesn't take up to 10 minutes to finish this up

[2022-10-17 17:28] #107 closed

[2022-10-17 17:28] Dun-sin commented on #97
@mihir1739 an update pls?

[2022-10-17 17:32] Omm2005 commented on #125
i am so sorry I forgot about this... I have exams and all stuff right now..
I will complete it ASAP!

On Mon, Oct 17, 2022, 22:58 Dunsin ***@***.***> wrote:

[2022-10-17 17:43] Omm2005 commented on #125
Do I have to make a Pull request to new branch in your ?

On Mon, 17 Oct 2022 at 23:02, Omm Shah ***@***.***> wrote:

[2022-10-17 18:27] Shivam164 commented on #147
Hey @Dun-sin, I would like to work on this issue. Please assign this to me.

[2022-10-17 18:35] Dun-sin commented on #147
Definitely, thanks for wanting to contribute, Make sure you follow the rules [👉🏽here👈🏽](https://github.com/Dun-sin/Whisper/blob/main/CONTRIBUTING.md#rules), else your PR will not be accepted and will be closed.
Good Luck

[2022-10-17 18:43] Shivam164 commented on #147
@Dun-sin, It is not yet assigned to me.

[2022-10-17 19:01] Dun-sin commented on #126
sorry @khanhtranngoccva this has already been fixed

[2022-10-17 19:05] #126 closed

[2022-10-17 19:05] #135 closed

[2022-10-18 06:17] #136 closed

[2022-10-18 06:17] Dun-sin commented on #138
@Harsh-garg-coder an update on this pls

[2022-10-18 07:27] gambhirsharma opened #153 "[FEATURE] <Add favicon>"
### Description

Whisper website uses the Default React Favicon. Change it with a custom-made one to make the website more appealing to new users. :)

### Screenshots

_No response_

[2022-10-18 07:55] Harsh-garg-coder commented on #138
@Dun-sin i will complete this by EOD

[2022-10-18 08:24] mathiasayivor opened #154 "[BUG] Clicking on Logout does not clear user's data completely"
### Description

Currently when the Logout button is clicked, some of the user's data such as chat data is not cleared, which is a huge security issue in terms of user privacy especially on devices with multiple users.

### Screenshots

_No response_

[2022-10-18 14:38] mathiasayivor opened #155 "[FEATURE] Enhance chatting on multiple devices"
### Description

Currently, chatting on multiple devices (email users) works, but needs a few improvements to fully work as expected.

### Screenshots

_No response_

[2022-10-18 14:55] mathiasayivor commented on #154
Also, logging out should automatically close chats for anonymous users.

[2022-10-18 16:39] mathiasayivor commented on #127
@Dun-sin is anyone already working on this issue?
If not, I'd like to work on it.

[2022-10-18 16:42] #154 closed

[2022-10-18 18:53] mathiasayivor opened #158 "[BUG] Fix GH greetings"
### Description

Currently, GH greetings fail after each PR and it's not good. PR checks should only fail if the PR fail those checks.

### Screenshots

_No response_

[2022-10-18 19:30] #127 closed

[2022-10-18 21:07] mathiasayivor opened #159 "[FEATURE] Persist app data to the database"
### Description

Currently, chats + other data are only being stored in memory and as a result, we would loose all data when there is any change on the backend (server restarts, server crashes, etc).

 We need to start saving chats + other necessities in the database to avoid data loss in case of any changes on the server.

### Screenshots

_No response_

[2022-10-19 04:57] #155 closed

[2022-10-19 06:45] Dun-sin commented on #138
@Harsh-garg-coder

[2022-10-19 13:00] omagr commented on #153
please assign it to me i will add custom made favicon

[2022-10-19 14:52] Dun-sin commented on #153
hi, thanks kindly send the designs you do for one to be picked

[2022-10-19 15:33] Dun-sin commented on #159
@mathiasayivor, have you started this? Was thinking to start, just to know.

[2022-10-19 15:33] Dun-sin commented on #132
@ays14 an update on this please?

[2022-10-19 15:41] #125 closed

[2022-10-19 16:45] Kritika30032002 opened #164 "[FEATURE] <Adding About Page>"
### Description

It will describe the use of website that What is website all about.

Assign this to me.

### Screenshots

_No response_

[2022-10-19 16:45] Dun-sin commented on #164
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Whisper/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-19 16:46] Dun-sin commented on #164
won't fix this, thanks for creating an issue tho

[2022-10-19 16:46] #164 closed

[2022-10-19 16:47] #158 closed

[2022-10-19 16:49] Dun-sin opened #165 "[BUG] refreshing crashes the searching/chatting page"
### Description

When a user is chatting or searching for a user, if they refresh, the app crashes unless they go back to the home page

### Screenshots

![image](https://user-images.githubusercontent.com/78784850/196754534-26fbb7e6-afdb-46f1-86ed-622b8c04253b.png)

[2022-10-19 16:50] Dun-sin commented on #165
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Whisper/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-19 16:51] Dun-sin commented on #147
hi @Shivam164, an update pls?

[2022-10-19 16:55] mathiasayivor commented on #165
This is a vercel issue.

[2022-10-19 16:57] Dun-sin opened #166 "[FEATURE] add typing indication"
### Description

Would be nice if a user can see if the person they are chatting with is typing or not.

Placing it under the `anonymous user` text, would be the best place

### Screenshots

![image](https://user-images.githubusercontent.com/78784850/196755887-a68a258b-9411-49c3-bd3e-c6b93c8b340d.png)

[2022-10-19 16:57] Dun-sin commented on #166
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Whisper/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-19 16:58] Dun-sin commented on #165
yeah, i don't know what caused it, but creating an issue so i can remember for later

[2022-10-19 17:01] Dun-sin opened #167 "[FEATURE] add quote reply"
### Description

Add the ability for users to quote reply a message

Like GitHub, for example👇🏾

### Screenshots

![image](https://user-images.githubusercontent.com/78784850/196756844-e707a709-b74f-4c05-aeef-dc26ca0a264f.png)

[2022-10-19 17:01] Dun-sin commented on #167
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Whisper/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-19 17:05] mathiasayivor commented on #159
Yh, I started working on it.

[2022-10-19 17:09] Dun-sin opened #168 "[FEATURE] better scroll when chatting"
### Description

The scroll doesn't look good, because it's the default scrollbar

**Tasks**
- [ ] reduce the side of the scroll bar and thumb
- [ ] change the colour to fit the application theme

### Screenshots

![image](https://user-images.githubusercontent.com/78784850/196758079-752b9a42-b717-4839-81b3-001627cfbc09.png)

[2022-10-19 17:09] Dun-sin commented on #168
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Whisper/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-19 17:19] mathiasayivor opened #169 "[FEATURE] Add markdown support for messages"
### Description

It would be great to add markdown support so that users can easily format their messages

### Screenshots

_No response_

[2022-10-19 17:19] Dun-sin commented on #169
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Whisper/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-19 17:20] Dun-sin commented on #169
Don't understand this issue

[2022-10-19 17:25] mathiasayivor opened #170 "[FEATURE] Add emoji picker"
### Description

Add an emoji picker to enable users to easily use emojis in messages

### Screenshots

_No response_

[2022-10-19 17:25] Dun-sin commented on #170
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Whisper/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-19 17:27] Dun-sin commented on #170
It actually works by default!!!

[2022-10-19 17:37] mathiasayivor commented on #170
I mean something like this:
![Screenshot from 2022-10-19 17-36-22](https://user-images.githubusercontent.com/74247733/196764491-fb351699-8b55-489f-88ed-fa6d3d5351bb.png)

 So that users can easily pick emojis

[2022-10-19 17:44] mathiasayivor commented on #169
We enable users to use markdown syntax in their messages.
Almost every modern chat app has some form of markdown syntax support for basic formatting...
i.e
**For bolding text**,
_Italics_,
~line through~
etc

[2022-10-19 17:45] Dun-sin commented on #170
Ohh, you mean reactions!! 😂

[2022-10-19 17:45] Dun-sin commented on #169
Ohhh, got it now

[2022-10-19 18:03] mathiasayivor opened #171 "[FEATURE] Add message reactions"
### Description

Enable users to react to messages in their chats with emojis

### Screenshots

_No response_

[2022-10-19 18:03] Dun-sin commented on #171
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Whisper/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-19 18:06] charandevreddy commented on #168
can you assign me this?

[2022-10-19 18:48] ays14 commented on #132
Hi @Dun-sin , I am working on it. Will finish this over the weekend.

[2022-10-19 19:00] omagr commented on #153
![logos](https://user-images.githubusercontent.com/88016895/196780307-a0ee51e0-8e3e-414f-a89d-d036730a2e6a.png)
so I made these logos, what's your thought?

[2022-10-19 19:39] Dun-sin commented on #153
The middle one is definitely cool, do you think you can add a vector/image related to being anonymous in the hole of the lettper "P"

[2022-10-19 19:41] Dun-sin commented on #153
I think just a question mark(?) will do

[2022-10-20 01:49] mathiasayivor opened #172 "[FEATURE] Automatically focus message input when `Edit` is clicked"
### Description

Currently, you have to manually click on the message input when you click on `Edit` and it's not a good UX. The message input should be automatically focused when users click on `Edit`

### Screenshots

_No response_

[2022-10-20 01:49] Dun-sin commented on #172
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Whisper/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-20 01:53] mathiasayivor opened #173 "[OTHER] Show github greetings to new members only"
### What would you like to share?

@Dun-sin is it possible to show GH greetings to new members only when creating new issues? The messages are too much

### Additional information

_No response_

[2022-10-20 01:57] Dun-sin commented on #173
That's because you create too many issues🤣🤣🤣

But yeah it is, had that before, people forget about the rules so brought this one back, plus it also changes

[2022-10-20 04:20] omagr commented on #153
alright!
![Group 24](https://user-images.githubusercontent.com/88016895/196855572-7bf5a696-098e-461d-a021-61c37bca6ba3.png)
something like this?

[2022-10-20 04:26] Dun-sin commented on #153
Yes!

[2022-10-20 04:48] Dun-sin commented on #153
@omagr want to add it to the project?

[2022-10-20 04:56] omagr commented on #153
yes, i am doing it right now!

[2022-10-20 05:03] Dun-sin commented on #153
Yeah their are some rules in this repo, kindly check them before making a PR, here👇🏽

https://github.com/Dun-sin/Whisper/blob/main/CONTRIBUTING.md#rules)

[2022-10-20 05:04] #170 closed

[2022-10-20 05:07] Dun-sin commented on #168
Definitely, thanks for wanting to contribute, Make sure you follow the rules [👉🏽here👈🏽](https://github.com/Dun-sin/Whisper/blob/main/CONTRIBUTING.md#rules), else your PR will not be accepted and will be closed.
Good Luck

[2022-10-20 05:13] mathiasayivor commented on #165
@Dun-sin Let me try this one...

[2022-10-20 05:14] Dun-sin commented on #165
On vercel?

[2022-10-20 05:23] mathiasayivor commented on #165
I mean a fix

[2022-10-20 05:25] Dun-sin commented on #165
Yeah okay, I think it has to do with the routes because this wasn't a problem before

[2022-10-20 05:26] #173 closed

[2022-10-20 05:34] mathiasayivor opened #175 "[FEATURE] Add husky"
### Description

We're getting inconsistent code formatting when new PRs are created, and it makes reviewing new changes difficult. With husky, we can set up a git pre-commit hook for formatting code with prettier to ensure consistent code formatting.

### Screenshots

_No response_

[2022-10-20 05:35] Dun-sin commented on #175
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Whisper/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-20 05:36] mathiasayivor commented on #165
No, it's a vercel issue...

[2022-10-20 05:49] Dun-sin commented on #175
Yeah I can just repeat the same husky used in code Magic

[2022-10-20 06:01] Dun-sin commented on #165
It's weird because there really wasn't an issue like this before, maybe I messed with something in vercel.

I will check it

[2022-10-20 06:05] mathiasayivor commented on #165
its the vercel.json file I guess

[2022-10-20 06:06] mathiasayivor commented on #165
we're missing one

[2022-10-20 08:15] #159 closed

[2022-10-20 08:20] #153 closed

[2022-10-20 09:03] #165 closed

[2022-10-20 09:13] Manethpak opened #177 "[FEATURE] Use modal for Logout instead of native alert"
### Description

When logging out, the app use the browser's alert to confirm. We could make this better using customize dialog/modal instead for better UI.
I could work on this.

### Screenshots

![image](https://user-images.githubusercontent.com/58499300/196907442-0148a62f-32d3-4942-9302-0a61e9a917fa.png)

[2022-10-20 09:13] Dun-sin commented on #177
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Whisper/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-20 10:10] #138 closed

[2022-10-20 10:20] mathiasayivor opened #178 "[DOCS] Update logo in README"
### Description

The current logo in the main README is not up to date (#176). It needs to be updated asap

### Screenshots

_No response_

[2022-10-20 10:20] Dun-sin commented on #178
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Whisper/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-20 10:32] JatinSingh08 commented on #178
Hey @mathiasayivor @Dun-sin , can you assign this to me. I would love to work on this.

[2022-10-20 10:33] Dun-sin commented on #178
Definitely, thanks for wanting to contribute, Make sure you follow the rules [👉🏽here👈🏽](https://github.com/Dun-sin/Whisper/blob/main/CONTRIBUTING.md#rules), else your PR will not be accepted and will be closed.
Good Luck

[2022-10-20 10:37] JatinSingh08 commented on #178
@Dun-sin, Can I get the updated logo to add that ?

[2022-10-20 10:38] Dun-sin commented on #178
Right sorry, check this issue #153 and get the icon from it

[2022-10-20 10:39] Dun-sin commented on #178
Right sorry, here you go

Just replace the link with the one in the readme

https://user-images.githubusercontent.com/88016895/196855572-7bf5a696-098e-461d-a021-61c37bca6ba3.png

[2022-10-20 10:42] drvnprgrmr commented on #167
Yeah I want to be assigned to this.

[2022-10-20 10:47] Dun-sin commented on #177
@Manethpak pls also add the modal for closing chats

[2022-10-20 10:50] Dun-sin commented on #167
Okay, make sure you follow the rules [👉🏽here👈🏽](https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md#rules), else your PR will not be accepted and will be closed.
Good Luck

[2022-10-20 14:53] Shubhamsahu19 opened #181 "prettier config file missing"
### What would you like to share?

everyone uses prettier code formatter , so everyone has different global prettier configuration, which leads to multiple unnecessary changes in file. So having a local `prettierrc` and `prettierignore` can eliminate these unnecessary changes.

### Additional information

_No response_

[2022-10-20 14:53] Dun-sin commented on #181
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Whisper/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-20 17:13] Manethpak commented on #177
I'll worked on it!

[2022-10-20 17:14] Dun-sin commented on #181
You mean this?

![IMG_20221020_181325.jpg](https://user-images.githubusercontent.com/78784850/197014961-aad34249-f5b9-46cd-b3a1-e1bc5817283a.jpg)

[2022-10-20 19:14] mathiasayivor commented on #181
I think this is a duplicate of #175

[2022-10-21 05:13] #178 closed

[2022-10-21 05:29] #172 closed

[2022-10-21 07:36] #166 closed

[2022-10-21 11:47] mathiasayivor opened #182 "[FEATURE] Add cancel editing button"
### Description

When editing a message, there should be a button to cancel editing.

### Screenshots

_No response_

[2022-10-21 11:47] Dun-sin commented on #182
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Whisper/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-21 11:53] mathiasayivor opened #183 "[FEATURE] Indicate the particular message being edited"
### Description

Currently, the user doesn't know which message is being edited and it's not a good UX.

When editing a message, there should be an indicator showing which message is being edited

this is a full stack issue, it should do the following:
— have a message show edited in the frontend and backend, frontend with displaying the edit (to the receiver) and the message schema having an edit

[2022-10-21 11:53] Dun-sin commented on #183
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Whisper/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-21 14:15] rahul152-ai opened #184 "Need Improvmen in message page"
### Description

I think the UI of the chat Page needs some improvement Because after some messages they started flooting

### Screenshots

![Screenshot (14)](https://user-images.githubusercontent.com/77874363/197216697-8bad6b93-306a-4f82-9aaf-159ee21e3e2d.png)

[2022-10-21 14:15] Dun-sin commented on #184
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Whisper/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-21 14:16] rahul152-ai commented on #184
I want to work on this issue, so please assign this issue to me

[2022-10-21 15:04] #181 closed, assigned to nobody

[2022-10-21 15:06] Dun-sin commented on #184
Sorry, this has been fixed. Feel free to look around for other issues or report any!!

[2022-10-21 15:06] #184 closed

[2022-10-21 16:38] mathiasayivor opened #185 "[FEATURE] Add close and re-search button"
### Description

Enable users to close their current anonymous chat and automatically start searching for a new random buddy

## TODO

- [ ] Add a button labelled with something similar to `Close 'n find new buddy`
- [ ] Confirm close action from the user after clicking on the button
- [ ] After a positive confirmation from the user, close the current chat and automatically start searching for a n

[2022-10-21 16:38] Dun-sin commented on #185
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Whisper/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-21 16:46] mathiasayivor opened #186 "[FEATURE] Add shortcuts keys"
### Description

Users may want to quickly perform certain actions (e.g #185) and it would be great to provide shortcut keys for such actions instead of users doing a lot of clicks

### Screenshots

_No response_

[2022-10-21 16:46] Dun-sin commented on #186
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Whisper/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-21 17:22] #182 closed

[2022-10-21 17:29] mathiasayivor opened #187 "[BUG] Users are not removed from waiting list on logout"
### Description

Users are not removed from the waiting list after logging out and as a result, new users are getting matched to ghost users

### Screenshots

_No response_

[2022-10-21 17:29] Dun-sin commented on #187
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Whisper/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-21 18:43] #175 closed

[2022-10-21 19:07] #97 closed

[2022-10-22 03:55] mathiasayivor opened #188 "[FEATURE] Enable updating of email for anonymous users"
### Description

When a user logs in anonymously, the user must first log out before being able to log in with their email.
But what if the anonymous user wants to update/add email to enable them to use features of email users (i.e add friends, log out without losing chats, etc) without losing the current chat?

We need to add the option for users to update their email after logging in.

### Scree

[2022-10-22 03:55] Dun-sin commented on #188
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Whisper/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-22 05:43] Dun-sin opened #189 "[FEATURE] ESC key should cancel editing"
### Description

There's a cancel button for canceling editing, but on devices that uses a physical keyboard, having key shortcut for this will make it easier to use.

Related to #186

### Screenshots

_No response_

[2022-10-22 05:43] Dun-sin commented on #189
<h1>It's great having you contribute to this project by creating an issue</h1> Make sure you are assigned to this before you work on it and you read the <a href="https://github.com/Dun-sin/Whisper/blob/main/CONTRIBUTING.md">Contributing.md file</a>, Thank you! Welcome to the community :nerd_face:<p></p>

[2022-10-22 07:46] KidesLeo commented on #189
Just found this project, cool stuff! Going to start working on this, assignment is appreciated.

[2022-10-22 07:50] Dun-sin commented on #189
okay, thanks for wanting to contribute, Make sure you follow the rules [👉🏽here👈🏽](https://github.com/Dun-sin/Code-Magic/blob/main/CONTRIBUTING.md#rules), else your PR will not be accepted and will be closed.
Good Luck

[2022-10-22 08:26] KidesLeo commented on #189
Is it alright if I go on ahead and clear the input when ESC key is pressed during normal typing? It will cancel editing and clear the input `if isEditing`  otherwise it will just clear the input. Both will set typing to false.

I think that's standard behaviour.

[2022-10-22 08:28] Dun-sin commented on #189
No stick with the issue above, if you want that as an feature, create a separate issue🙌🏽

[2022-10-22 09:18] Dun-sin commented on #187
I think this should be left, in case the user just wanted to switch devices, if they get paired whoever that was on the other end can just leave

[2022-10-22 09:20] #189 closed

[2022-10-22 12:10] KANE-99 opened #191 "[FEATURE] The sidebar tab navigation buttons are too close"
### Description

A small gap will make it look better
Before:
<img width="183" alt="image" src="https://user-images.githubusercontent.com/42038491/197337014-858103b1-e959-4f51-8d24-62ee28753f34.png">
After:
<img width="183" alt="image" src="https://user-images.githubusercontent.com/42038491/197338247-796e0fd6-1f7e-4a4e-b331-b30b845b77d8.png">

### Screenshots

_No response_

### Additional informa

[2022-10-22 12:11] sano2019 commented on #191
I could take this if possible :)

[2022-10-22 12:14] KANE-99 commented on #191
I am already working on it :)

[2022-10-22 12:14] sano2019 commented on #191
Ah my bad, thought you were raising the issue for others to work on :) GL!

[2022-10-22 12:31] mathiasayivor commented on #187
That's a good idea, but not all users have that intention (i.e anonymous users) and it doesn't feel good to be paired with a ghost (a logged-out user that is still on the waiting list).

Besides, switching devices is just a matter of logging in with your email on the new device and your chat data would be restored.
For pairing, the user can still get paired the moment they click on the `Start` but

[2022-10-22 12:31] Dun-sin commented on #191
You can, but make sure you follow the rules in the contributing file, else your PR will not be accepted.

Good luck

[2022-10-22 12:32] Dun-sin commented on #187
But not all anonymous users have that intention either.

I still vote for letting it be

[2022-10-22 12:33] mathiasayivor commented on #185
@Dun-sin I'm taking this one

[2022-10-22 12:34] sano2019 commented on #191
I think @KANE-99 is already covering this, @Dun-sin. If for some reason their contribution is ineligible, I will work on this so just let me know :)

[2022-10-22 12:35] Dun-sin commented on #191
Yeah it's ineligible, hence my giving it to you😁

[2022-10-22 12:39] mathiasayivor commented on #187
I didn't get this...

[2022-10-22 12:43] Dun-sin commented on #187
You said not every user has the intention of logging out to switch to another device.

I'm saying not every user has the intention to not do that.

In programming format
!LoginForSwitch
!!LoginForSwitch

[2022-10-22 12:50] mathiasayivor commented on #187
I still strongly advise against this feature, or else we'd end up with a lot of logged-out users still on the waiting list.
Although there is a feature for stopping searching in #132, some users may just want to click on `Logout` instead of clicking on `Stop searching` and then `Logout`.

Instead, there should be an option for email users to choose if they still want to be searching whiles they're

[2022-10-22 12:59] mathiasayivor opened #193 "[FEATURE] Improve on theming"
### Description

Enable users to switch to dark/light modes easily.
This should be easy to implement with tailwindcss

### Screenshots

_No response_

### Additional information

_No response_

### 👀 Have you checked if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Contributing Guidelines?

- [X] I have read and understood the rules in t

[2022-10-22 13:13] mathiasayivor opened #194 "[FEATURE] Add notification system"
### Description

It would be nice to add a notification system to the app, to get notified on certain events like: `new message`, `paired`, `chat closed`, etc.

- [x] Play notification sounds on: `new message`, `chat closed` and `paired` events
- [ ] Users can enable/disable notifications

### Screenshots

_No response_

### Additional information

_No response_

### 👀 Have you checked if this iss

[2022-10-22 13:14] mathiasayivor commented on #177
@Manethpak any updates on this?

[2022-10-22 13:29] Dun-sin commented on #187
i don't think it's going to be that way, they may eventually get paired with themselves, but they won't be on the waiting list for a long time, but sure, let's add this as a feature, they can just search again.

[2022-10-22 13:53] #191 closed

[2022-10-22 15:16] udaykahar commented on #193
Hey, I would like to Contribute to this Project , please assign it to me...

[2022-10-22 15:34] Dun-sin commented on #193
Definitely, thanks for wanting to contribute, make sure you follow the rules [👉🏽here👈🏽](https://github.com/Dun-sin/Whisper/blob/main/CONTRIBUTING.md#rules), else your PR will not be accepted and will be closed.
Good Luck

[2022-10-22 15:38] #185 closed

[2022-10-22 20:38] Adelabuadeleke opened #198 "[OTHER]"
### What would you like to share?

Hello, so i can see the backend folder structure of this project, has just models, and all other code are in the index.js file, i'd suggest the folder structure broken down to the MVC(Models, Views and Controllers)  approached, it helps modularize the code, it also improves readability and scalability, i'd love to work on it, you can assign this to  me to work on

[2022-10-22 22:03] mathiasayivor commented on #198
@Adelabuadeleke I'm a bit confused in terms of how you plan on creating an MVC structure, as this is a more API-based app,
can you provide an overview of how you plan on structuring the backend folder?

[2022-10-22 22:09] Adelabuadeleke commented on #198
@mathiasayivor sorry my bad, I meant creating a controllers and routes folder structure and modularizing similar functionalities into controllers and and routes, I hope that clarified what I meant?

[2022-10-23 07:40] Manethpak commented on #177
@mathiasayivor Just got the time to work on it, will be done by today!

[2022-10-23 18:51] #194 closed

[2022-10-23 19:02] mathiasayivor opened #200 "[FEATURE] add categories"
### Description

Enable users to find buddies with common interests

### Screenshots

_No response_

### Additional information

_No response_

### 👀 Have you checked if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Contributing Guidelines?

- [X] I have read and understood the rules in the [Contributing Guidelines](https://github.com/Du

[2022-10-23 20:25] mathiasayivor commented on #194
@Dun-sin I wasn't done with this pr...

[2022-10-23 20:26] Dun-sin commented on #194
You didn't say so..... I thought the draft was an accident because I got no comment on what to do with it

[2022-10-23 20:31] mathiasayivor commented on #194
Aight. Uploaded the new changes in #201

[2022-10-23 20:50] mathiasayivor commented on #59
@Dun-sin this only takes a few seconds to implement can we work on this now?

[2022-10-23 20:55] Dun-sin commented on #59
Okay

[2022-10-24 04:58] #187 closed

[2022-10-24 05:18] udaykahar commented on #193
hey i'm having trouble in setting up the project in my machine

[2022-10-24 06:13] mathiasayivor commented on #193
Have you followed the steps provided in CONTRIBUTING section?

If yes, what issue are you having?

[2022-10-24 19:25] mathiasayivor commented on #132
@ays14 any updates on this?

[2022-10-24 20:30] mathiasayivor opened #204 "Current mobile display is bad"
### Description

The app overflows on mobile devices, forcing the user to always scroll to have basic interactions.

### Screenshots

![Screen Shot 2022-10-24 at 19 24 24](https://user-images.githubusercontent.com/74247733/197622374-3f070386-6967-4ade-8958-95eda988de94.png)
![Screen Shot 2022-10-24 at 19 23 49](https://user-images.githubusercontent.com/74247733/197622407-168c3f84-9c2b-47bb-86f1-a2

[2022-10-25 04:26] avezqureshi14 commented on #204
Can you assign this to me

[2022-10-25 04:31] psavvaidis commented on #168
Hello, I'd like to give it a try

[2022-10-25 10:11] #59 closed

[2022-10-25 15:14] mathiasayivor commented on #147
@Dun-sin I'm taking this...

[2022-10-26 05:17] psavvaidis commented on #168
Thanks, I'm on it

[2022-10-26 06:50] psavvaidis commented on #168
Hello again, quick question. It is referred in the rules not to change the package.json. However I have found a good amount of npm packages solving our problem. How can I push a working solution without changing the dependencies?

It's my first push, I'm not even sure if this the place to put this question, sorry in advance

[2022-10-26 06:54] Dun-sin commented on #168
what does the package do?

[2022-10-26 07:00] psavvaidis commented on #168
it the [react-custom-scrollbars-2](https://www.npmjs.com/package/react-custom-scrollbars-2)
it does everything I need for the issue

[2022-10-26 07:18] Dun-sin commented on #168
yeah okay, you can add package.json only if you added something that updates the package

[2022-10-26 07:20] psavvaidis commented on #168
yeah, I'm not messing with other dependency versions

[2022-10-26 07:27] Dun-sin opened #210 "[FEATURE] add UI for friends section"
### Description
this issue depends on when issue #213 is done

Follow the UI for the friends section

the red background color is: #FF3A46
the red profile background color is: #B42B33

### Screenshots

![image](https://user-images.githubusercontent.com/78784850/197961848-7dac1993-f4d4-4793-be25-e58b1cdd6763.png)

### Additional information

There's already a friends component available to use
http

[2022-10-26 07:29] mathiasayivor commented on #210
@Dun-sin was the screenshot done with a design tool?

[2022-10-26 07:34] Dun-sin commented on #210
@mathiasayivor no i used the screenshot tool of firefox

[2022-10-26 07:40] mathiasayivor commented on #210
So why not just push the changes ? 😅😂

[2022-10-26 07:42] mathiasayivor commented on #210
I like the new icons btw

[2022-10-26 07:45] mathiasayivor commented on #210
Wondering how it would look on mobile devices 🤔

[2022-10-26 07:59] Dun-sin commented on #210
No that's from figma lol

[2022-10-26 07:59] Dun-sin commented on #210
It's always been the icon, but I forgot the icon pack I used in figma when I started building this🤣

I have to find it

[2022-10-26 09:04] psavvaidis opened #211 "Inform user for lack of connection to the server"
### Description

Let the user know when there is no connection to the server in the Search View

Tasks
* [ ] Display a message that informs the user there is no Connection
* [ ] Hide the default message/search button
* [ ] Try reconnecting in the background

### Screenshots

_No response_

### Additional information

_No response_

### 🥦 Browser

Mozilla Firefox

### 👀 Have you checked if this iss

[2022-10-26 09:09] Dun-sin opened #212 "[FEATURE] Add functionality for friends section"
### Description

This issue is dependent on when issue #210 is done

**Tasks:**
- [ ] move the chat from the anonymous chat to the friends section (close the chat in anon section but don't delete the chat and room name, create another room for the friends section with that name and display the chat data)
- [ ] move the user back to the home search page
- [ ] get the name of the friend user to disp

[2022-10-26 09:10] Dun-sin commented on #211
404 as in page not found? does that help with getting info on when the server is down?

[2022-10-26 09:12] psavvaidis commented on #211
sorry, I meant 503 (Unavailability)

[2022-10-26 09:20] Dun-sin commented on #211
how would you detect that

[2022-10-26 09:30] Dun-sin opened #213 "[FEATURE] add profile section UI"
### Description

Follow the UI design to create this, the component already exists

the component
https://github.com/Dun-sin/Whisper/blob/main/client/src/pages/Profile.jsx

### Screenshots

![image](https://user-images.githubusercontent.com/78784850/197989336-68d85a66-f5f4-4156-9b8f-0ff6a0b3bd01.png)

### Additional information

_No response_

### 👀 Have you checked if this issue has been raised b

[2022-10-26 09:40] Dun-sin opened #214 "[FEATURE] add functionality for the profile page"
### Description

This issue depends on #239

Tasks:
- [ ] this page should not be accessible to non email users (users that didn't log in with their email)
- [ ] use the existing model for user profile
- [ ] save the details of the user to the database

### Screenshots

_No response_

### Additional information

_No response_

### 👀 Have you checked if this issue has been raised before?

- [X] I c

[2022-10-26 09:45] Timmotal commented on #204
Incase you need a hand, unfortunately I've got two.

[2022-10-26 09:48] Timmotal commented on #213
i think i can make my hands do something with this.

[2022-10-26 10:20] psavvaidis commented on #211
Going through the [docs](https://socket.io/docs/v4/client-api/#manageropencallback) I found that the socket manager returns error when calls the `open` function.

This is the socket object when server is down
![Socket object](https://user-images.githubusercontent.com/68665285/198001610-7391aa27-8361-48d1-b95b-c477b338c8c0.png)

Consequently, in `BuddyMatcher.jsx` we get `socket.connected = false`.

[2022-10-26 10:27] Dun-sin commented on #211
Which means an internal server error has to be thrown, and we need an internal server error page(503) to redirect the user to

[2022-10-26 10:33] psavvaidis commented on #211
Now that I think of it, the implementation is only on the client side. Server cannot do much if the client can't reach it in the first place. A 503 page can be useful if the client is connected to the server and the server cannot provide service.

[2022-10-26 10:34] psavvaidis commented on #211
Would you like me to close the Issue and open a new one?

[2022-10-26 10:55] mathiasayivor commented on #214
@Dun-sin can I be assigned this?

[2022-10-26 10:57] mathiasayivor commented on #212
@Dun-sin  can I be assigned this?

[2022-10-26 11:18] mathiasayivor commented on #214
I don't think there's really the need to create another model, since we already have a `User` model for storing email users

[2022-10-26 11:21] mathiasayivor commented on #213
What about updating of email?
#188 is somehow related to this or should we move its form to the Settings page?

[2022-10-26 12:06] Dun-sin commented on #211
you can edit this issue

[2022-10-26 12:15] Dun-sin commented on #213
we can leave it here, we can simply just add it later

[2022-10-26 12:53] #132 closed

[2022-10-26 13:44] mathiasayivor opened #217 "Clicking on Stop Button does not stop searching"
### Description

Clicking on the Stop button does not stop the user from searching. This is because the stop event callback does not update context with new changes

### Screenshots

_No response_

### Additional information

_No response_

### 🥦 Browser

Other

### 👀 Have you checked if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Cont

[2022-10-26 14:01] mathiasayivor opened #218 "User is unable to navigate to other pages whiles chatting"
### Description

The user is unable to navigate to other pages whiles chatting. This is because the Start page always redirects the user back to the current chat page if there's any.

### Screenshots

_No response_

### Additional information

_No response_

### 🥦 Browser

Other

### 👀 Have you checked if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have

[2022-10-26 14:15] mathiasayivor opened #219 "Chrome mobile's address bar pushes app content to the bottom"
### Description

Chrome's address bar pushes app content down when chatting. This is because we're using 100vh. A solution to this would be to use 100% this way, app responds to chrome's  address bar size

### Screenshots

Current behaviour:
![Screenshot_2022-10-26-14-06-56-457](https://user-images.githubusercontent.com/74247733/198049955-5d3d6694-4dc1-476d-a73c-0fd07952873a.jpg)

Expected behavio

[2022-10-26 14:24] mathiasayivor opened #220 "[FEATURE] Group messages sent within the same minute"
### Description

Currently, all messages are separated (space between each message), which results in more scrolling when there are so many messages.

It would be a UI/UX improvement to group messages sent within the same minute instead of separating all messages.

### Screenshots

_No response_

### Additional information

_No response_

### 👀 Have you checked if this issue has been raised before

[2022-10-26 14:26] mathiasayivor opened #221 "[FEATURE] Add option to copy messages"
### Description

Currently, you'd have to manually select each character in a message to copy. There should be an option to copy the whole message content.

### Screenshots

_No response_

### Additional information

_No response_

### 👀 Have you checked if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Contributing Guidelines?

- [X] I h

[2022-10-26 14:31] mathiasayivor opened #222 "[FEATURE] Bulk Delete"
### Description

Users should be able to delete multiple messages at once.

## TODO:
 - [ ] Enable users to select multiple messages using a checkbox
 - [ ] When multiple messages are selected, show a Cancel and a Delete button
 - [ ] When the Delete button is clicked, delete all selected messages
 - [ ] When the Cancel button is clicked, deselect all selected messages

### Screenshots

_No respon

[2022-10-26 14:35] mathiasayivor opened #223 "[FEATURE] Add unread messages label"
### Description

There should be a label indicating all unread messages that the user got whiles doing some other action, i.e Browsing in a different tab, viewing previous messages, chatting with other friends, etc

### Screenshots

_No response_

### Additional information

_No response_

### 👀 Have you checked if this issue has been raised before?

- [X] I checked and didn't find similar issue

[2022-10-26 16:06] mathiasayivor opened #225 "`close` chat event is not triggered for users that are not on the chat page"
### Description

When the `close` event is triggered by a user the other user does not receive it when not on the chat page. As a result, the chat would still be open but sending messages would cause an error on the server.

### Screenshots

_No response_

### Additional information

_No response_

### 🥦 Browser

Other

### 👀 Have you checked if this issue has been raised before?

- [X] I checked

[2022-10-26 16:22] mathiasayivor opened #227 "Typing status is not cleared when users go offline"
### Description

When either of the users goes offline whiles typing, the typing status is never cleared.

### Screenshots

_No response_

### Additional information

_No response_

### 🥦 Browser

Other

### 👀 Have you checked if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Contributing Guidelines?

- [X] I have read and understood the

[2022-10-26 18:09] #217 closed

[2022-10-26 18:11] #218 closed

[2022-10-26 18:28] mathiasayivor opened #228 "[FEATURE] Improve on the UI for message input"
### Description

The current message input + button looks too basic. And it needs some improvements

### Screenshots

_No response_

### Additional information

_No response_

### 👀 Have you checked if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Contributing Guidelines?

- [X] I have read and understood the rules in the [Contributing G

[2022-10-26 19:16] Dun-sin commented on #228
Except that the message box doesn't wrap, I don't see your point

[2022-10-26 19:34] mathiasayivor commented on #228
It's to basically style the message input to look much better

[2022-10-26 19:36] Dun-sin commented on #228
i still don't see the point, it works right?

[2022-10-26 19:57] #177 closed

[2022-10-26 20:16] Dun-sin opened #232 "[BUG] error when user messages fails"
### Description

was testing the app and noticed a message failing to send, i checked the server and it shows the error is coming from this line, id is undefined
https://github.com/Dun-sin/Whisper/blob/45107de72e678a8bdcd5f5edfcd142b23a89aa7c/server/index.js#L207

### Screenshots

_No response_

### Additional information

_No response_

### 🥦 Browser

Mozilla Firefox

### 👀 Have you checked if th

[2022-10-26 20:24] Dun-sin opened #233 "[BUG] logout works even when the server doesn't respond"
### Description

The server was down when I tested this, I logged out to see if it will let me when if the server is down.

And it did, this is kind of related to #211, user shouldn't have access to any server side functionality while the server is down

### Screenshots

_No response_

### Additional information

_No response_

### 🥦 Browser

Mozilla Firefox

### 👀 Have you checked if this issue h

[2022-10-26 20:49] mathiasayivor commented on #228
Are you okay with the current styling?

[2022-10-26 20:51] mathiasayivor commented on #233
Does this mean if the server is down, I can't log out of the app?

[2022-10-26 20:58] mathiasayivor commented on #228
This issue is somehow synonymous with #168.

[2022-10-26 21:05] NeilAn99 commented on #221
Hi, I would like to work on this.

[2022-10-26 22:07] NeilAn99 commented on #221
Hi, how can I test it so 2 people can connect and talk to each other? When I open 2 windows, it is stuck on searching.

[2022-10-27 05:10] Dun-sin commented on #228
100%

[2022-10-27 05:11] Dun-sin commented on #228
That's a different case, and there's an issue up to fix that

[2022-10-27 05:12] Dun-sin commented on #233
You can, that's the problem, you will log out but if you are searching, it won't stop.

You said something about implementing when a user logs out they get taken out of the waiting list

[2022-10-27 05:14] Dun-sin commented on #221
You have to connect the database

[2022-10-27 06:18] NeilAn99 commented on #221
I have started both the client and server with npm start and have connected the database:
![image](https://user-images.githubusercontent.com/54966170/198206146-45777e9e-d672-4c3b-8ae4-ae0d7190a3b8.png)
Is this correct?

[2022-10-27 06:26] Dun-sin commented on #221
yes it is

[2022-10-27 06:32] NeilAn99 commented on #221
any idea why i'm getting the following errors?
![image](https://user-images.githubusercontent.com/54966170/198208453-85657d08-eab2-4cf7-adf8-b509bf732caf.png)

[2022-10-27 06:51] #228 closed

[2022-10-27 06:52] #227 closed

[2022-10-27 06:52] #225 closed

[2022-10-27 06:53] #223 closed

[2022-10-27 06:54] #222 closed

[2022-10-27 06:55] #200 closed

[2022-10-27 06:55] #85 closed

[2022-10-27 06:57] #220 closed

[2022-10-27 07:01] Dun-sin commented on #221
It's a connection error, did you run the server side?

[2022-10-27 09:24] Dun-sin commented on #193
@udaykahar an update here pls?

[2022-10-27 19:31] psavvaidis commented on #168
Hey, a quick update. I've hidden the thumb, having some trouble with the coloring, sorry for the delay.

[2022-10-27 19:33] Dun-sin commented on #168
Thanks for the update👍🏽

[2022-10-29 04:43] khanhtranngoccva commented on #232
![image](https://user-images.githubusercontent.com/61155608/198814231-b4617e11-3f46-4c06-85d7-72aec2e4b132.png)
My plan is to remove the `messageId` property like this as the ID of the message cannot and should not be returned to the client if no user is signed in. There is no event listener to listen to the `send_failed` event either.
Please assign me the issue so that I can create a PR.

[2022-10-29 06:00] Dun-sin commented on #232
I think we should not remove the ID, we need the ID to know what to send again

[2022-10-29 06:01] Dun-sin commented on #232
@mathiasayivor why is there an ID there?

[2022-10-29 20:02] psavvaidis opened #234 "[FEATURE] Add highlight color variable"
### Description

Add the chat bubble color as "highlight" color in tailwind.config.js to refer it in different occasions

### Screenshots

_No response_

### Additional information

_No response_

### 👀 Have you checked if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Contributing Guidelines?

- [X] I have read and understood the rules i

[2022-11-02 17:53] AAYUSH-droid commented on #234
Hey can you specify more about what exactly needs to be done?

[2022-11-03 09:49] psavvaidis commented on #234
Hello,

 We can discuss it in the discord server if you want to.

Cheers

[2022-11-03 14:38] Dun-sin commented on #234
I actually have some new changes to bring up for the colors

[2022-11-04 15:42] AAYUSH-droid commented on #234
Sure! can you provide the discord link?!

[2022-11-04 16:54] psavvaidis commented on #234
Yep, check DunSin's profile.

[2022-11-04 17:45] Dun-sin opened #235 "[FEATURE] change chat colour"
### Description

The left color is: #FF3A46
the right color is: #162938

### Screenshots

![image](https://user-images.githubusercontent.com/78784850/200041321-3824015e-d744-4627-aa12-67a34e84f809.png)

### Additional information

_No response_

### 👀 Have you checked if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Contributing Guidelin

[2022-11-04 17:47] Dun-sin commented on #234
@AAYUSH-droid check this issue if you are interested in this kind of issue ⇾ #235

[2022-11-04 17:47] Dun-sin commented on #234
and @psavvaidis you can work on this

[2022-11-07 11:36] Cor4zon commented on #235
Hi @Dun-sin! I would take that issue. Please assign it to me

[2022-11-07 11:40] Dun-sin commented on #235
Definitely, thanks for wanting to contribute, Make sure you follow the rules [👉🏽here👈🏽](https://github.com/Dun-sin/Whisper/blob/main/CONTRIBUTING.md#rules), else your PR will not be accepted and will be closed.
Good Luck

[2022-11-08 11:38] Dun-sin commented on #168
@psavvaidis update? It's been open for too long

[2022-11-08 11:39] Dun-sin commented on #234
@psavvaidis an update pls? it doesn't take up to an hour to do this, but reminding you incase you forgot

[2022-11-08 16:13] #234 closed

[2022-11-08 16:34] psavvaidis commented on #234
I did forget it, terribly sorry.

[2022-11-08 16:40] psavvaidis commented on #168
Hey,

 I'm still working on it. There has been a mixup with tailwind I think. The scrolling works of Firefox and the color change in Chrome. So, I am trying to figure out the bug.

 If you feel there is someone else that can do it faster, I am OK to be unassigned. I'll keep working on it anyways, it's an interesting problem.

[2022-11-08 17:56] infuman69 commented on #213
Can I work on this?

[2022-11-08 18:14] infuman69 commented on #213
thanks

[2022-11-09 19:52] infuman69 commented on #213
Hey can you provide me the hex-code for the profile card . thank you?

[2022-11-09 19:57] Dun-sin commented on #213
It's the highlight Tailwind color variable

[2022-11-09 20:00] infuman69 commented on #213
thanks

[2022-11-10 03:29] infuman69 commented on #213
@Dun-sin

[2022-11-10 03:42] Dun-sin commented on #213
oh sorry didn't see that, tagging me was the right choice lol
it's -> #162938

[2022-11-10 06:55] infuman69 commented on #213
thanks for the help

[2022-11-13 05:44] #235 closed

[2022-11-14 09:51] Cor4zon commented on #186
@Dun-sin Could you add checklist of these shortcuts?

[2022-11-14 10:17] Dun-sin commented on #186
Right:
ctrl + c = close a chat
ctrl + n = new partner and close chat

this are the shortcuts for now

[2022-11-18 17:47] #186 closed

[2022-11-20 19:51] Dun-sin commented on #213
@infuman69 an update pls?

[2022-11-27 07:19] Dun-sin commented on #168
hi @psavvaidis what's up with this?

[2022-11-27 11:38] nkirukka commented on #193
Has this issue been worked on? I'd like to implement this.

[2022-11-27 13:13] Dun-sin commented on #193
sure @nkirukka, it's all yours, just make sure you read the contributing file.

Good Luck